@charset "utf-8";
/* CSS Document */
body,html{ background:#525252;}
.container{min-width:320px;max-width:768px;margin:0 auto;-webkit-text-size-adjust:none; position:relative;}
figure img{ display:block;width:100%;}

.person{padding-bottom:50px;}
.person > h3{color:#fff;line-height:38px; text-align:center;}
.person > p{line-height:42px;font-size:14px;font-weight:bold;color:#fff;padding-left:18px;}
.person .info{padding:20px 0 10px 0;}
.person .info .portrait{width:67px;height:67px; float:left;padding:0 18px;}
.person .info .portrait img{width:100%;border-radius:7px;}
.person .info h3{color:#fff;float:left;padding-left:18px;line-height:67px;}

.container .men .info,.container .men > p{ background:#343434;}
.container .men .info .portrait{border-right:1px solid #040404;}
.container .men .info h3{border-left:1px solid #535353;}

.container .women > h3{ background:#8d304f;}
.container .women .info,.container .women > p{ background:#f0d0d3;}
.container .women > p{color:#bd3c65;}
.container .women .info .portrait{border-right:1px solid #ea7a93;}
.container .women .info h3{border-left:1px solid #fffef5;color:#e4355c;}


 