		html body{
			width:640px;
			max-width:640px;
			height:1071px;
			max-height:1071px;
			margin:0px 0px;
			
			background-image:url('../images/buy2-bg.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:640px 1071px;
		}
		.div-btn-return{
			width:160px;
			height:55px;
			
			position:absolute;
			top:948px;
			left:237px;
			
			cursor:pointer;
		}