		html body{
			width:640px;
			max-width:640px;
			height:960px;
			max-height:960px;
			margin:0px 0px;
			
			background-image:url('../images/index-bg.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:640px 960px;
		}
		.div-left-button{
			position:absolute;
			top:620px;
			left:32px;
			
			width:286px;
			height:286px;
			cursor:pointer;
		}
		.div-left-button-inner{
			background-image:url('../images/left-btn-focused.png');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:286px 286px;
			
			width:286px;
			height:286px;
			
			display:none;
		}
		.div-right-button{
			position:absolute;
			top:620px;
			left:312px;
			
			width:286px;
			height:286px;
			cursor:pointer;
		}
		.div-right-button-inner{
			background-image:url('../images/right-btn-focused.png');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:286px 286px;
			
			width:286px;
			height:286px;
			
			display:none;
		}
		.div-bottom-button{
			position:absolute;
			top:906px;
			left:240px;
			
			width:155px;
			height:55px;
			cursor:pointer;
		}