		html body{
			width:720px;
			max-width:720px;
			height:1280px;
			max-height:1280px;
			margin:0px 0px;
			
			background-image:url('../images/share4-bg2.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:720px 1280px;
		}
		.div-btn-submit{
			position:absolute;
			top:1191px;
			left:277px;
			
			width:165px;
			height:60px;
			
			cursor:pointer;
		}