		html body{
			width:720px;
			max-width:720px;
			height:1308px;
			max-height:1308px;
			
			padding:0px 0px;
			margin:0px 0px;
			
			background-image:url('../images/share1-bg2.jpg');
			background-size:720px 1308px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		
		.main-body{
			position:relative;
		}
		
		.qq-zone{
			position:absolute;
			top:972px;
			left:404px;
						
			width:70px;
			height:70px;
			cursor:pointer;
		}
		.sina-weibo{
			position:absolute;
			top:972px;
			left:79px;
			
			width:70px;
			height:70px;
			cursor:pointer;
		}
		.renren{
			position:absolute;
			top:972px;
			left:567px;
			
			width:70px;
			height:70px;
			cursor:pointer;
		}
		.tencent-weibo{
			position:absolute;
			top:972px;
			left:242px;
			
			width:70px;
			height:70px;
			cursor:pointer;
		}