.nav-bar{
    display: block;
    width:100%;
    min-width:320px;
	max-width:400px;
	margin:0 auto;
}
.header{
    display: block;
    width:100%;
    height:54px;
}
.content-container{
    display: block;
    margin: 0 auto;
    width:100%;
    max-width: 400px;
    min-width: 320px;
    height:375px;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.ad-containers{
    display: block;
    width: 320px;
    height:305px;
    margin: 0 auto 10px auto;
}




.step-con,.step1-shake,.step1-cushion,.step-2 .step-top,.step2-pan{ position:relative;}
.step-text,.step1-broken-agg,#pan-b,.text-icon,.step2-egg,.step2-arrows,.step-bottom-text,.hand,.step2-mark,#zizi,.step3-bigegg,.popup1,.step3-drag,.step3-arrows,.step3-jian{ position:absolute;}
.step-top img,.step-text img{width:100%;}
/********header********/
.nav-bar{ position:relative;}
.nav-bar figure{font-size:0;}
.change{font-size:0;z-index:5;}
.change,.download-app{width:17.3%;height:100%; position:absolute;top:0;left:0;z-index:5; overflow:hidden;}
.hnav a{position:absolute;top:0;width:16.4%;height:100%;z-index:5; text-indent:-9999px;}
.hnav .change > a{display:inline-block;width:100%;height:100%; text-indent:0; position:relative;top:0;left:0;}
.kfc-b{left:17%;}
.kfc-l{left:33.8%;}
.kfc-a{left:50.7%;}
.kfc-d{left:67.5%;}
.kfc-24h{right:0;}
.clogo{width:100%;}
.step3-jian{top:35%;right:100px;z-index:2;}

@media screen and (min-width:400px){
	.step3-jian{top:19%;right:119px;z-index:2;}
}

/********step1********/
.step-1{}
.step-top,.step1-shake,.step1-cushion,.step1-broken-agg{margin:0 auto;}

.step-top{width:238px;font-size:0;margin-bottom:5px;}

.step1-shake{width:154px;z-index:1;}
.step1-cushion{width:228px;z-index:0;top:-18px;}
.step-con .shake-a1,.step-con .shake-a2{
	-webkit-transform-origin:50% bottom;
}
.step-con .shake-a1{-webkit-animation:shake 1.5s linear 999;}
@-webkit-keyframes shake{
	33%{-webkit-transform:rotate(-3deg);}
    76%{-webkit-transform:rotate(3deg);}
}
.step-con .shake-a2{
	-webkit-animation:shake2 .3s linear 999;
}
@-webkit-keyframes shake2{
	33%{-webkit-transform:rotate(-12deg);}
    76%{-webkit-transform:rotate(12deg);}
}
.step1-broken-agg{width:100%;top:0; text-align:center;}
.step-text{width:127px;height:20px;top:40%;left:50%;margin-left:-63px;z-index:10;}

/********step2********/
.step-2{ position:relative;}
.step-2 .step-top{width:180px;z-index:0;}
.step2-pan{width:291px;left:29px;}
#pan-b{width:17px;height:30px; background:#000;bottom:36px;right:-10px;-webkit-transform:rotate(25deg); display:none;}
.text-icon{right:-34px;top:0;}
.step-top .text-icon1{width:31px;height:63px;}

@media screen and (min-width:360px){
	#pan-b{display:block;}
}

.step2-egg,.step2-arrows{text-align: center;top: 39px;width: 100%;}
.step2-egg{z-index:1;}
.step2-arrows{z-index:2;-webkit-animation:rotate1 1.5s linear 1;-webkit-transform:rotate(-720deg) scale(1);}
.step-2 .step-text{top:49%;}

@-webkit-keyframes rotate1{
	0%{-webkit-transform:rotate(0deg) scale(0); opacity:0.2;}
	100%{-webkit-transform:rotate(-720deg) scale(1);opacity:1;}
}
.hand{width:32px;z-index:3;top:196px;left:60%;}

.step-bottom-text{bottom:-12px;color:#477613; position:relative;width:93%;padding-left:7%; text-align:center;}
.step-bottom-text > img{ position:absolute;top:-1px;left:50px;-webkit-animation:shake3 1s linear 190;}
@-webkit-keyframes shake3{
	33%{-webkit-transform:rotate(-9deg);}
    76%{-webkit-transform:rotate(9deg);}
}
.step2-mark{width:200px;height:200px;top:28px;left:50%;margin-left:-101px;z-index:11;}
.step-2 .step2-egg3{top:32px;margin-left:-4px;}
.step-2 .step2-egg3-animate{-webkit-animation:shakeAgg 1s ease 1;}
@-webkit-keyframes shakeAgg{
	33%{-webkit-transform:translate(4px, 4px);}
    76%{-webkit-transform:translate(-4px, 0px);}
}
.step-top2 .text-icon1{width:39px;right:-34px;top:-5px;}
.step-2 .step2-pan-egg3{-webkit-animation:shakePan 1s ease 1;}
@-webkit-keyframes shakePan{
	33%{-webkit-transform:translate(10px, 4px);}
    76%{-webkit-transform:translate(-10px, 0px);}
}
#zizi{bottom:0;opacity:0;z-index:0;}
.step2-egg3-img{
	-webkit-animation:egg3D 1s linear;
}
@-webkit-keyframes egg3D{
	0%{-webkit-transform:rotateX(0deg);}
	50%{-webkit-transform:rotateX(-90deg) scale(1.3);}
    100%{-webkit-transform:rotateX(-180deg);}
}

/********step3********/
.step3-container{ position:relative;overflow:hidden;}
.text-hull{height:32px;}
.hull{width:100%;height:247px;}
.step-3 .step-text{top:56%;}
.step3-bigegg{width:256px;top:0;left:50%;margin-left:-128px;}
.step3-bigegg img{width:100%;}
.popup1{width:130px;right:0;top:100px;z-index:11;}
.step3-drag{width:58px;top:4px;left:4px;}
.step3-pro{height:40px;padding:13px 0 13px 68px;line-height:16px; position:relative; background:rgba(66,128,46,0.5);margin-top:2px;
	border-top-left-radius:32px; border-bottom-left-radius:32px; color:#fff;
	font-size:11px;
	font-weight:bold;
	-webkit-text-size-adjust:none;
	-webkit-transition:all .5s ease;
	right:-64px;
}
.popup1 .active{right:0;}
.step3-arrows{
}


/********step4********/
.cake-container{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 260px;
    overflow: hidden;
    margin-right: 0;
}
.cake{
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    width:320px;
    height: 260px;
    overflow: hidden;
    right: 0;
}
.cake .cake-bottom-cake{
    width: 256px;
    height: 251px;
    margin: 0 auto;
}
.cake .cake-bottom-fillings{
    position: relative;
    top: -256px;
    margin-left: 12px;
    z-index: 3;
}
.cake .rolling{
    position: absolute;
    width: 98px;
    height:251px ;
    /*background: url(../images/cake-back.png) no-repeat;*/
    /*background-size: 256px 251px;*/
    /*background-position: -256px 0px;*/
    top:0;
    z-index: 5;
    overflow: hidden;
    left: 34px;
}
.cake .rolling img{
    position: absolute;
    width: 256px;
    height: 251px;
    left: -256px;
}
.tip-container{
    position:absolute ;
    width: 320px;
    height: 150px;
    z-index: 6;
    top: 120px;
}
.tip-container .tip-text{
    width: 194px;
    margin: 0 auto;
}
.tip-container .tip-jiant{
    position: absolute;
    top: 30px;
    left: 0px;
}
.tip-container .tip-hand{
    position: absolute;
    top: 57px;
    left: 17px;

}
.step-4{
    position: relative;
}
.step-4 .rolling-control{
    position: absolute;
    width:100px;
    height: 256px;
    display: block;
    top:0px;
    left:0px;
    z-index: 7;
}

/********step5********/
.step-5{ position:relative;height:280px;}
.step-5 .step-top{width:260px;z-index:0;}
.step5-slogan{margin: 0 auto;width: 220px;height:30px;font-size: 18px;font-weight: bold;color: rgba(255,255,255,0.8);border-radius: 21px;border: 1px solid;line-height: 30px;text-indent: 10px;}
.step5-pro{-webkit-animation:showPro 1s;}
@-webkit-keyframes showPro{
	0%{-webkit-transform:scale(.2);}
    56%{-webkit-transform:scale(1.1);}
	76%{-webkit-transform:scale(.9);}
}


/********step6********/
.show-pop{display:none;}
.step-6{ position:relative;height:280px;}
.step-6 .step-con{width:288px;z-index:0;margin: 0 auto; text-align:center;}
.step6-slogan{margin: 0 auto;width: 210px;height:26px;font-size: 11px;color: rgba(255,255,255,0.8);line-height: 26px;}
.step6-slogan em{ font-style:italic; font-weight:bold; font-size:16px;}
#step6-img1{width:288px;}
#step6-share-icon{position: relative;top: 3px;}
.step6-bigbutton{width:100%;text-align: center;}
.step6-button{width:288px;display:inline-block;height:44px;font-size: 26px;color: rgba(118,181,40,1);line-height: 44px;
border-radius:6px;background-color:rgb(242,255,196);  font-weight:bold;
background-image:linear-gradient(rgb(242,255,196),rgb(238,244,172)); text-shadow:0 0px 1px rgb(238,244,172);
background-image:-webkit-linear-gradient(rgb(242,255,196),rgb(238,244,172)); text-shadow:0 0px 1px rgb(238,244,172);
box-shadow:0 5px 18px 2px rgb(119,172,69);
}
.step6-button:hover{color: rgba(118,181,40,1);}

.step6-sharebox{left:0;bottom:0;box-shadow:0 -1px 4px rgb(69,111,56);background-color:#fff;height:88px;width:100%; position:absolute;bottom:0; padding-top:20px;z-index:6;-webkit-animation:fxa .4s ease;}
@-webkit-keyframes fxa{0%{opacity:0;}100%{opacity:1;}}
.close-show-pop,.step6-covered{position:absolute;left:0;width: 100%;}
.step6-covered{bottom:0;height: 375px;background-color:rgba(38,74,13,.5);z-index:4;}
.close-show-pop{height:267px;z-index:5;top:15%;}
.icon{width:33%;display:inline-block; text-align:center;}
.fx-font{display:block;margin-top:7%;font-size:10px;color:rgb(69,111,56);height:2.2em;-webkit-text-size-adjust:none;text-align:center;}
.containers{position:relative;}


/********step7********/
#awarding{padding-top:120px; text-align:center;color:#fff;}
.step-7{ position:relative;height:280px;}
.step-7 .step-con{width:288px;z-index:0;margin: 0 auto; text-align:center;height:242px;}
.step7-textbox{background-color:rgb(243,250,162);color:rgb(71,118,19);}
#step7-1 .step7-textbox,#step7-4 .step7-textbox{height:150px;padding-top:73px;}
#step7-1 .step7-title,#step7-4 .step7-title{font-size:27px; font-weight:bold;}
#step7-4 .step7-title{line-height:80px;}
#step7-1 .step7-text{font-size:13px;width:200px;margin: 26px auto 0;line-height:18px;}
#step7-2 .step7-textbox{height:173px;padding-top:50px;}
#step7-2 .step7-title{font-size:27px; font-weight:bold;}
#step7-2 .step7-text{font-size:13px;width:240px;margin: 22px auto 0;line-height:18px;}
#step7-2 .step7-input{ position:relative;width:220px;margin:0 auto;}
#step7-2 .step7-input label{ position:absolute;top:32px;color:#fff;left:10px;font-size:13px;}
#step7-2 .step7-input input{ background-color:rgb(118,181,40); border:none;margin:23px auto 0;height:30px;line-height:30px; font-size:13px;width:140px; border-radius:6px; padding-left:80px;color:#fff;}
#step7-sub_succ{width:36px;height25px;}
#step7-3 .step7-textbox{height:173px;padding-top:50px;}
#step7-3 .step7-title{font-size:27px; font-weight:bold;}
#step7-3 .step7-text{font-size:12px;width:254px;margin: 22px auto 0;line-height:18px;}
#step7-3 .step7-viewbox{margin: 22px auto 0;width:120px;height:26px;}
#step7-3 .step7-viewbox a{font-size:13px;line-height:20px;width:120px;display:inline-block;letter-spacing:4px;border:1px solid rgba(118,181,40,1);color:rgba(71,118,19,1); border-radius:10px;}

	
.step7-border{font-size:0;margin-top: -1px;}
.step7-border > img{width:288px;}

div.arrow-right {
  width:0px; 
  height:0px; 
  border-bottom:5px solid transparent;  /* left arrow slant */
  border-top:5px solid transparent; /* right arrow slant */
  border-left:5px solid rgba(71,118,19,1); /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  display:inline-block;
}

/********step8********/
.step-8{ position:relative;height:280px;}
.step-8 .step-con,.step-9 .step-con{width:288px;z-index:0;margin: 0 auto; height:260px;}
.step8-textbox{background-color:rgb(243,250,162);color:rgb(71,118,19);}
.step8-textbox{height:230px;padding-top:10px;}
.step8-title{text-align:center;font-size:20px; font-weight:bold;width:146px;height:31px;line-height:31px; background-color:rgb(71,118,19);color:rgb(243,250,162); border-radius:7px;margin:0 auto;}
.step8-title span{display:inline-block;}
.step8-text{font-size:13px;width:260px;margin: 9px auto 0;line-height:18px;height:186px;overflow: hidden; position:relative;}
#step8-2 .step8-textbox{height:173px;padding-top:50px;}
#step8-2 .step8-title{font-size:27px; font-weight:bold;}
#step8-2 .step8-text{font-size:13px;width:240px;margin: 22px auto 0;line-height:18px;}
#step8-winner_icon,#step8-danj_icon{position: relative;top: 4px;}
#step8-rule_icon2{position: relative;top: 2px;}

.step8-text-info1{color:rgb(242,101,33);margin-bottom:4px;}
.step8-text-info3{font-weight:bold;}
.step8-text-info4{margin-top:4px;font-size:12px;}
.step8-text-info4 ul{ list-style:disc inside;margin-left: 2px;}

.step8-bigbutton{width:100%;text-align: center;font-size:0;}
.step8-bigbutton a:first-child{margin-right:9px;}
.step8-button{width:140px;display:inline-block;height:35px;font-size: 22px;color: rgba(118,181,40,1);line-height: 35px;
border-radius:6px;background-color:rgb(242,255,196);  font-weight:bold;
background-image:linear-gradient(rgb(242,255,196),rgb(238,244,172)); text-shadow:0 0px 1px rgb(238,244,172);
background-image:-webkit-linear-gradient(rgb(242,255,196),rgb(238,244,172)); text-shadow:0 0px 1px rgb(238,244,172);
box-shadow:0 5px 18px 2px rgb(119,172,69);
}
.step8-button:hover{color: rgba(118,181,40,1);}

/********step9********/
.weeks {
	width:100%;
    height: 34px;
    line-height: 34px;
	color:#fff;
	font-weight:bold;
	margin-bottom:10px;
}
.weeks li {
	float: left;
	width: 24.5%;
	text-align: center;
	border-left:1px solid #f3faa2;
	background:#b1dd6d;
}
.weeks li:first-child {
	border-left: none;
}

.weeks li.current {
	background:#63a313;
}
#wrapper{width:100%;height:144px; position:relative;}
.mod{color:#9ac74e;font-size:11px;-webkit-text-size-adjust:none;}
.mod li{float:left;width:33%;text-align:center;}

.containers{position:relative;}
.step-pop,.step-pop > a{ position:absolute;}
.step-pop{width:100%;top:0;left:0;z-index:15;}
.step-pop img{width:100%;}
.step-pop > a{width:30px;height:30px; background:url(../images/close_butt.png) no-repeat; background-size:contain;top:4px;right:2px;z-index:1;}


/*header*/
.content-container .header{width:288px;margin:0 auto;padding-top:2px;}
.h-logo{float:left;margin:8px;width:33px;height:33px; background:url(../images/c_logo_text.png) no-repeat; background-size:contain; position:relative;}
.h-logo > div{width:48px;height:47px; background:url(../images/c_logo.png) no-repeat; background-size:contain; position:absolute;left:-7px;top:-7px;-webkit-animation:turn 8s linear infinite;}
@-webkit-keyframes turn{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.h-nav{float:right; display:inline;margin-top:10px;}
.change-nav{width:111px;height:28px; background:url(../images/nav_change.png) no-repeat; background-size:192px 28px; background-position:-81px 0;overflow:hidden;border-radius:15px;-webkit-transition:background .5s ease;}
.h-nav div.active{background-position:0 0;}

.step6-sharebox a img{width:42px;}