@import "reset.css";

html,body{background:#fff;font-family:微软雅黑,Microsoft Yahei,Tahoma,Arial,sans-serif;padding:0px;margin:0px;outline:none;font-size:16px;}

img {height: auto;max-width: 100%;width: auto;display:block;}
.fxbg{position:relative;height:100%;min-width:320px;max-width:640px;margin:0 auto;}

.btn1{position:absolute;width: 100%;height:100%;top:0;left:0;text-align:center;padding-top:0%;z-index: 2;}
.btn1 > *{z-index:3;}
.btn2{position:absolute;
	width: 100%;height:100%;top:0;left:0;
    background-color: rgba(0,0,0,0.6);
	text-align:center;
	padding-top:0%;
	z-index: 2;display: none;
}
.btn3{
	position:absolute;
	max-width:640px;
	width: 100%;
	height:100%;
	background-color:rgba(16,122,149,.8);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) , rgba(98,98,98,1) 92%,rgba(0,0,0,.3) 92%, rgba(0,0,0,.3) 100%);*/
	top:0;
	/*left:0;*/
	text-align:center;
	z-index: 2;
}
.btn4{
	position:fixed;
	width: 100%;
	padding:0% 0% 0;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	z-index: 2;
}

#logo{width: 10%;
height: 6%;
right: 3.5%;
top: 1%;}

#img_01{width: 90%;left: 5%;top: 7%;}
#img_02{width: 90%;left: 5%;top: 7%;display: none;}
#img_03{width: 90%;left: 5%;top: 7%;}
#img_04{width: 90%;left: 5%;top: 7%;}

.fly{display:inline-block;position:absolute; box-sizing:border-box;}


#a1{width:35%;height:3%;left:5%;top:7%;}
#a2{width:35%;height:3%;left:41%;top:7%;}
#a3{width:19%;height:2%;left:50%;top:15%;}
#a4{width:19%;height:2%;left:75%;top:15%;}
.a5{top: 6%;right: 2%;width: 13%;height: 4%;}
.a6{top: 14%;right: 35%;width: 30%;height: 3%;}

#a8{width:19%;height:2%;left:75%;top:12%;}
#a10{top:13%;}

/*----------------------index------------------------*/
#link1{width:60%;height:13%;left:14%;top:24%;}
#link2{width:40%;height:12%;left:14%;top:37%;}
#link3{width:38%;height:12%;left:14%;top:49%;}
#link4{width:38%;height:9%;left:14%;top:61%;}
#link5{width:22%;height:13%;left:52%;top:50%;}
#link6{width:40%;height:13%;left:14%;top:70%;}
/*-----------------------chuzhuyi-----------------------*/

@-webkit-keyframes sideIn{
	0%{-webkit-transform:rotate(-90deg);-webkit-transform-origin:bottom left;opacity:1;}
	100%{-webkit-transform:rotate(0deg);-webkit-transform-origin:bottom left;opacity:1;}
}
@-webkit-keyframes sideOut{
	0%{-webkit-transform:rotate(0deg);-webkit-transform-origin:bottom left;opacity:1;}
	100%{-webkit-transform:rotate(-90deg);-webkit-transform-origin:bottom left;opacity:1;}
}












