		html body{
			width:720px;
			max-width:720px;
			height:1537px;
			max-height:1537px;
			margin:0px 0px;
			
			background-image:url('../images/buy1-bg2.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:720px 1537px;
		}
		.div-form{
			position:absolute;
			top:985px;
			left:50px;
			
			width:580px;
			height:440px;
		}
		.input-text-shopcode{
			position:absolute;
			top:0px;
			left:180px;
			
			width:410px;
			height:45px;
						
			font-size:25px;
		}
		.input-text-name{
			position:absolute;
			top:78px;
			left:180px;
			
			width:410px;
			height:45px;
			
			font-size:25px;
		}
		.input-text-phone{
			position:absolute;
			top:153px;
			left:180px;
			
			width:410px;
			height:45px;
			
			font-size:25px;
		}
		.input-text-sellcode1{
			position:absolute;
			top:230px;
			left:180px;
			
			width:410px;
			height:45px;
			
			font-size:25px;
		}
		.input-text-sellcode2{
			position:absolute;
			top:308px;
			left:180px;
			
			width:410px;
			height:45px;
			
			font-size:25px;
		}
		.div-btn-submit{
			position:absolute;
			top:383px;
			right:4px;
			
			width:160px;
			height:55px;
			
			cursor:pointer;
		}
		.div-to-introduction{
			position:absolute;
			top:1470px;
			left:268px;
			
			width:180px;
			height:64px;
			
			cursor:pointer;
		}