		html body{
			width:720px;
			max-width:720px;
			height:1280px;
			max-height:1280px;
			margin:0px 0px;
			
			background-image:url('../images/buy2-bg2.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:720px 1280px;
		}
		.div-btn-return{
			width:182px;
			height:65px;
			
			position:absolute;
			top:1185px;
			left:267px;
			
			cursor:pointer;
		}