		html body{
			width:640px;
			max-width:640px;
			height:2819px;
			max-height:2819px;
			margin:0px 0px;
			
			background-image:url('../images/introduction-bg.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:640px 2819px;
		}
		.div-btn-back{
			position:absolute;
			top:2720px;
			left:240px;
			
			width:160px;
			height:55px;
			
			cursor:pointer;
		}