		html body{
			width:720px;
			max-width:720px;
			height:1280px;
			max-height:1280px;
			margin:0px 0px;
			
			background-image:url('../images/share2-bg2.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:720px 1280px;
		}
		
		.div-btn-share{
			position:absolute;
			top:1193px;
			left:256px;
			
			width:206px;
			height:56px;
			
			cursor:pointer;
		}