		html body{
			width:640px;
			max-width:640px;
			height:960px;
			max-height:960px;
			margin:0px 0px;
			
			background-image:url('../images/share4-bg.jpg');
			background-repeat:no-repeat;
			background-position:left top;
			background-size:640px 960px;
		}
		.div-btn-submit{
			position:absolute;
			top:858px;
			left:235px;
			
			width:165px;
			height:60px;
			
			cursor:pointer;
		}