/*样式重置*/
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/*frame样式*/
.frame{
	width: 640px;
	position: relative;
}
/*header样式*/
.header{
	width: 640px;
	height: 96px;
	background: url(../images/logo.png) no-repeat;
	box-shadow: 0 4px 20px #343434;
	position: fixed;
	top: 0;
	
}
/*content样式*/
.content{padding-bottom: 30px;
}
.content_help{
	width: 640px;
	height: 132px;
	background: url(../images/p_header2.png) no-repeat;
}
.content img{margin: 11px auto 0;}
.content a{
	margin: 10px;
}