/*样式重置*/
*{
	padding: 0;
	margin: 0;
}
.frame{
	width: 640px;
	position: relative;
}
/*header样式*/
.header{
	width: 640px;
	height: 96px;
	background: url(../images/logo.png) no-repeat;
	box-shadow: 0 4px 20px #343434;
	position: fixed;
	top: 0;
}
/*content介绍*/
.content{padding-bottom: 30px;
}
.content_int{
	width: 640px;
	height: 112px;
	background: url(../images/p_intorduce.png);
	position: relative;
}
.content_int a{
	position: absolute;
	top: 28px;
	left: 20px;
}
.content_one{
	padding: 25px 28px;
	width: 584px;
	overflow: hidden;
}
/*
.content_one img,.content_one_right{
	float: left;
}
.content_one img{
	margin-right: 22px;
}
.content_one_right{
	width: 450px;
	overflow: hidden;
}
.right{
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #5f5f5f;
}
.teacher{
	font-size: 28px;
	font-weight: bold;
	color: #333333;
}
.content_one_right p{
	font-size: 22px;
	color: #8a8a8a;
}
.content_top{
	margin-bottom: 10px;
}*/
.content_one1{
	width: 454px;
	min-height: 150px;
	padding-left: 130px;
	
	margin-bottom: 20px;
}
.img1{
	background: url(../images/p_content_header.png) no-repeat;
}
.img2{
	background: url(../images/p_content_header2.png) no-repeat;
}
.img3{
	background: url(../images/p_content_header3.png) no-repeat;
}
.content_one1 p{
	font-size: 22px;
	color: #8a8a8a;
}
.content_one_top{
	overflow: hidden;
}
.left{
	float: left;
	font-size: 28px;
	font-weight: bold;
	color: #333333;
}
.right{
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #5f5f5f;
}
.content_one_top{
	margin-bottom: 20px;
}
.button{
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	color: #5f5f5f;
}
/*footer样式*/
.footer{
	padding: 0 10px 100px;
}
.footer a{
	width: 33%;
	float: left;
}