/*页面重置*/
*{
	padding: 0;
	margin: 0;
}
.frame{
	width: 640px;
	position: relative;
}
a{
	text-decoration: none;
}
/*header样式*/
.header{
	width: 640px;
	height: 96px;
	position: fixed;
	top: 0;
	background: url(../images/logo.png);
}
/*content样式*/
.content{
	padding-bottom: 30px;
}
.content_pro{
	width: 640px;
	height: 112px;
	background: url(../images/p_problem.png);
}
.content_pro a{
	position: absolute;
	top: 28px;
	left: 20px;
}
.content_one{
	padding: 0 16px;
	width: 597px;
}
.content_one1{
	padding: 0 13px;
	width: 613px;
	height: 74px;
	margin: 10px 0;
}
.left,.right{
	width: 50%;
	height: 74px;
	float: left;
}
.left{
	background: url(../images/p_pro_left.png);
}
.right{
	background: url(../images/p_pro_right.png);
}
.content_one2{
	width: 584px;
	height: 68px;
	background: url(../images/p_shu.png) no-repeat 108px 0;
	margin: 20px 0;
}
.content_one2 a{
	float: left;
	width: 20%;
	height: 68px;
	line-height: 68px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #afafaf;
}
h1{
	font-weight: bold;
	font-size: 28px;
	color: #333333;
}
.content_two dl{
	overflow: hidden;
	position: relative;
	padding: 0 28px;
	width: 584px;
}
.content_one3 dt{
	float: left;
	margin: 4px;
}
.content_one3 dd{
	float: left;
}
.content_one31{
	width: 613px;
	height: 74px;
	margin: 0px 0;
}
.position{
	width: 245px;
	height: 120px;
	background: url(../images/position.png);
	position: absolute;
	top: 0;
	right: 28px;
}
.content_one31 .color{
	background: #4c4c4c;
	color: #fff;
}
.content_one31 a{
	float: left;
	width: 50%;
	height: 74px;
	background: #ffcd10;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 10px;
	line-height: 74px;
	text-align: center;
}
.p_one{
	font-weight: bold;
	font-size: 28px;
	color: #333333;
	margin-top: 10px;
}
.p_two{
	font-size: 22px;
	font-weight: bold;
	color: #afafaf;
}
#content_one4{width: 613px;
border: 1px solid #dddddd;
margin-left: 13px;margin-bottom: 30px}
.content_one4_top{
	width: 510px;
/* height: 86px; */
padding-left: 90px;
padding: 10px 13px 10px 90px;
background-image: url(../images/content_bj2.png);
background-repeat: no-repeat;
background-color: #eee;
}
.content_one4_top span{
	font-size: 26px;
	font-weight: bold;
	color: #8b8b8b;
    display: table-cell;
vertical-align: middle;
height: 86px;
}
.content_one4 .p{display: block;width: 93%;line-height:1.6em;padding: 20px 28px;
    font-size: 26px;padding: 10px; 
}
/*footer样式*/
.footer{
	padding: 0 10px 100px;
}
.footer a{
	float: left;
	width: 33%；
}

#manhua1{top: 56px;left: 20px;width: 600px;height: 170px;}
#manhua2{top: 224px;left: 20px;width: 600px;height: 170px;}
#manhua3{top: 387px;left: 20px;width: 600px;height: 170px;}
#manhua4{top: 550px;left: 20px;width: 600px;height: 170px;}



