/*页面重置*/
*{
	padding: 0;
	margin: 0;
}
.frame{
	width: 640px;
	position: relative;
}
a{
	text-decoration: none;
}
/*header样式*/
.header{
	width: 640px;
	height: 96px;
	position: fixed;
	top: 0;
	background: url(../images/logo.png);
}
/*content样式*/
.content{padding-bottom: 30px;
}
.content_pro{
	width: 640px;
	height: 112px;
	background: url(../images/p_video.png);
	position: relative;
}
.content_pro a{
	position: absolute;
	top: 28px;
	left: 20px;
}
.content_one{
	padding: 20px 28px;
	width: 584px;
}
.content_tab{
	height: 76px;
}
.content_tab a{
	float: left;
	width: 50%;
	height: 76px;
	font-size: 24px;
	font-weight: bold;
	line-height: 76px;
	text-align: center;
	letter-spacing: 10px;
}
.tab_left{
	background: #ffcd10;
}
.tab_right{
	background: #4c4c4c;
	color: #fff;
}
.content_one{
	padding: 20px 28px;
	width: 584px;
	min-height: 100px;
}
.content_one a{
	margin-bottom: 20px;
}
.footer{
	padding: 0 28px 20px;height: 72px;
}
.footer a{
	width: 584px;
	height: 74px;
	float: left;
	width: 33%;
}