		html body
		{
			background-image:url('../images/mainBackImage.png');
			background-position:center;
			background-size:640px 980px;
			background-repeat:no-repeat;
			width:640px;
			min-height:980px;
			padding: 0px 0px;
			margin: 0px 0px;
		}
		.banner{
			background-image:url('../images/banner.png');
			background-position:center;
			background-repeat:no-repeat;
			width:640px;
			height:88px;
		}
		.footer{
			background-image:url('../images/m1-bottom.png');
			background-position:center;
			background-repeat:no-repeat;
			width:640px;
			height:75px;
		}
		.mainBody{
			position:relative;
			height:817px;
			width:640px;
		}

		.bottom-btn{
			width:23%;
			height:75px;
			display:inline-block;
			cursor:pointer;
		}
		.bottom-btn a{
			width:100%;
			height:75px;
			display:inline-block;
		}
		