@import "reset.css";

html,body{background:#fff;font-family:微软雅黑,Microsoft Yahei,Tahoma,Arial,sans-serif;padding:0px;margin:0px;outline:none;font-size:16px;}

img {height: auto;max-width: 100%;width: auto;display:block;}
.fxbg{position:relative;height:100%;min-width:320px;max-width:640px;margin:0 auto;}

.btn1{position:absolute;width: 100%;height:100%;top:0;left:0;text-align:center;padding-top:0%;z-index: 2;}
.btn1 > *{z-index:3;}
.btn2{position:fixed;
	width: 100%;
	height:auto;
	bottom:0;
	/*left:0;*/
	text-align:center;
	padding-top:0%;
	z-index: 2;
}
.btn3{
	position:absolute;
	max-width:640px;
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,.6);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) , rgba(98,98,98,1) 92%,rgba(0,0,0,.3) 92%, rgba(0,0,0,.3) 100%);*/
	top:0;
	/*left:0;*/
	text-align:center;
	z-index: 2;
}

#link1{width: 22%;height: 12%;left: 75.6%;top: 40.4%;}
#link2{width: 24%;height: 4%;left: 8%;top: 79%;}

.fly{display:inline-block;position:absolute; box-sizing:border-box;}


#m1{width:25%;height:100%;left:0%;bottom:0%;}
#m2{width:25%;height:100%;left:25%;bottom:0%;}
#m3{width:25%;height:100%;left:50%;bottom:0%;}
#m4{width:25%;height:100%;left:75%;bottom:0%;}

#cat1{}

.num_box{width: 85.6%;height: 8.8%;left: 8%;top: 50.5%;overflow:hidden;text-align:center;}
.num{background:url(../images/roll.png) top center repeat-y;background-size: cover;width:18.3%;height:100%;float:left;margin-right:21.5%;}
.num:last-child{margin-right:0;}


#m2-1_1{width: 30%;left: 57%;top: 47%;}
#m2-1_2{width: 54%;height: 6%;left: 40%;top: 78.5%;}
#m2-1_3{width: 30%;left: 57%;top: 47%;font-size: 11px;
line-height: 2.2em;color:#fff;display:none;}
#m2-1_4{width: 23%;height:4%;left: 64%;top: 47%;font-size: 19px; background-image:url(../images/verbg.png);
display: -webkit-box;
 -webkit-box-orient: horizontal;
 -webkit-box-pack: center;
 -webkit-box-align: center;
line-height: 1.2em;color:#fff;}


#myname{width: 53%;height: 4%;left: 34%;top: 27%;}
#mymobile{width: 53%;height: 4%;left: 34%;top: 32%;}
#myidentity1{left: 34.5%;top: 37.5%;}
#myidentity2{left: 56%;top: 37.5%;}
#myidentity3{left: 34.5%;top: 42.5%;}
#myidentity{width: 31%;height: 4%;left: 56%;top: 42%;}
#myverification{width: 27%;height: 4%;left: 34%;top: 47%;}
#frname{width: 53%;height: 4%;left: 34%;top: 57%;}
#frmobile{width: 53%;height: 4%;left: 34%;top: 62%;}
#frnature1{left: 34.5%;top: 67.2%;}
#frnature2{left: 56%;top: 67.2%;}
#frjob{width: 53%;height: 4%;left: 34%;top: 71%;}

#m2-1_page input[type=text],#m2-1_page input[type=tel]{padding-left:2%;box-sizing:border-box;}
.msg{position:absolute;bottom:17%;height: 12%;margin:auto;width:100%;color:#fff;}
#alert-close{position:absolute;bottom:9%;left:38%;width:21%;height:7%;}
#alert-close1{position:absolute;bottom:12%;left:38%;width:21%;height:7%;}

#deng1{left:0;top:30.6%;width:100%;display:none;
	-webkit-animation:sideIn 1s ease-out 0s infinite;
	-webkit-animation-fill-mode:forwards;}
#deng2{left:0;top:21.4%;width:100%;display:none1;
	-webkit-animation:sideIn .5s ease-out 0s infinite;
	-webkit-animation-fill-mode:forwards;}

@-webkit-keyframes sideIn{
	10%{opacity:1;}
50%{opacity:0;}
90%{opacity:1;}
}
@-webkit-keyframes sideOut{
	0%{-webkit-transform:rotate(0deg);-webkit-transform-origin:bottom left;opacity:1;}
	100%{-webkit-transform:rotate(-90deg);-webkit-transform-origin:bottom left;opacity:1;}
}


#m1-1_1{width: 21%;height: 3%;left: 74%;top: 16.8%;}
#m1-1_2{width: 88%;height: 58%;left: 6%;top: 19.8%;overflow: hidden;}

#m3_1{width: 16%;height: 5%;left: 72%;top: 20.8%;}
#m3_2{width: 88%;height: 58%;left: 6%;top: 26.8%;}
#m3_3{width: 38%;height: 3%;left: 31%;top: 22%;text-align: center;}
#m3_6{width: 74%;height: 42%;left: 13%;top: 31.8%;overflow: hidden;z-index:4;}
#m3_6 table{width:100%;}
#m3_6 table tr{width:100%;height:20px;}
#m3_6 table tr td{text-align:center;color:#fff;font-size:12px;}
#m3_6 table tr:nth-of-type(even){background-color:rgba(255,255,255,0.2);}

#m3_7{width: 88%;height: 58%;left: 6%;top: 26.8%;display:none;}
#m3_8{width: 74%;height: 42%;left: 13%;top: 31.8%;overflow: hidden;display:none;z-index:4;}
#m3_8 table{width:100%;}
#m3_8 table tr{width:100%;height:20px;}
#m3_8 table tr td{text-align:center;color:#fff;font-size:12px;}
#m3_8 table tr:nth-of-type(even){background-color:rgba(255,255,255,0.2);}


#m3_4{width: 21%;height: 4%;left: 7%;top: 26.8%;z-index:4;}
#m3_5{width: 21%;height: 4%;left: 31%;top: 26.8%;z-index:4;}





