@import "reset.css";


.coverxxx{
	position:absolute;
	left:0px;
	top:0px;
	
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,50);
	background-image:url("../images/hh.png");
	background-position:left top;
	background-repeat:no-repeat;
	background-size:768px 1024px;
	
	z-index:10000;
	
	display:none;
}

html,body{background:#fff;font-family:微软雅黑,Microsoft Yahei,Tahoma,Arial,sans-serif;padding:0px;margin:0px;outline:none;font-size:22px;}

img {height: auto;max-width: 100%;width: auto;display:block;}
.fxbg{position:relative;height:100%;
	min-width:320px;
	max-width:1024px;
	margin:0 auto;}

.btn1{position:absolute;width: 100%;height:100%;top:0;left:0;text-align:center;padding-top:0%;z-index: 2;}
.btn1 > *{z-index:3;}
/*.btn2{position:fixed;
	width: 100%;
	height:auto;
	bottom:0;
	text-align:center;
	padding-top:0%;
	z-index: 2;
}*/
.btn2{
	position:absolute;
	top:621px;
	width: 100%;
	height:auto;
	bottom:0;
	text-align:center;
	padding-top:0%;
	z-index: 2;
}
/*
.btn2{position:absolute;
	top:80%;
	width: 100%;
	height:auto;
	bottom:0;
	text-align:center;
	padding-top:0%;
	z-index: 2;
}*/
.btn3{
	position:absolute;
/*	max-width:640px;*/
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,.6);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) , rgba(98,98,98,1) 92%,rgba(0,0,0,.3) 92%, rgba(0,0,0,.3) 100%);*/
	top:0;
	/*left:0;*/
	text-align:center;
	z-index: 2;
}

#link1{width: 24.4%;height: 9%;left: 16.5%;top: 68%;}
#link2{width: 18%;height: 5%;left: 57.6%;top: 72%;}

.fly{display:inline-block;position:absolute; box-sizing:border-box;}


#m1{width:256px;height:100%;left:0px;bottom:0%;}
#m2{width:256px;height:100%;left:256px;bottom:0%;}
#m3{width:256px;height:100%;left:512px;bottom:0%;}
#m4{width:256px;height:100%;left:768px;bottom:0%;}

#cat1{}

.num_box{width: 40%;
height: 8.8%;
left: 30.5%;
top: 57.5%;overflow:hidden;text-align:center;}
.num{background:url(../images/roll.png) top center repeat-y;background-size: cover;width:18.3%;height:100%;float:left;margin-right:21.5%;}
.num:last-child{margin-right:0;}


#m2-1_1{width: 13%;
left: 34%;
top: 66.4%;}
#m2-1_2{width: 36%;
height: 9%;
left: 58%;
top: 74.5%;}
#m2-1_3{width: 13%;
left: 34%;
top: 67%;
font-size: 13px;
line-height: 2.2em;color:#fff;display:none;}
#m2-1_4{width: 12%;height:5%; background-image:url(../images/verbg.png);
display: -webkit-box;
 -webkit-box-orient: horizontal;
 -webkit-box-pack: center;
 -webkit-box-align: center;
left: 35%;
top: 66.6%;
font-size: 26px;
line-height: 1.2em;color:#fff;}


#myname{width: 26%;
height: 5%;
left: 21%;
top: 36%;}
#mymobile{width: 26%;
height: 5%;
left: 21%;
top: 44%;}
#myidentity1{left: 23%;
top: 53%;}
#myidentity2{left: 36%;
top: 53%;}
#myidentity3{left: 23%;
top: 59%;}
#myidentity{width: 14%;
height: 5%;
left: 33%;
top: 58%;}
#myverification{width: 13%;
height: 5%;
left: 21%;
top: 66.5%;}
#frname{width: 26%;
height: 5%;
left: 65%;
top: 36%;}
#frmobile{width: 26%;
height: 5%;
left: 65%;
top: 44%;}
#frnature1{left: 67%;
top: 53%;}
#frnature2{left: 80.5%;
top: 53%;}
#frjob{width: 26%;
height: 5%;
left: 65%;
top: 59.5%;}

#m2-1_page input[type=text],#m2-1_page input[type=tel]{padding-left:1%;box-sizing:border-box;font-size:16px;}
.msg{position:absolute;bottom:25%;height:12%; margin:auto;width:100%;color:#fff;}
#alert-close{position:absolute;bottom:12%;left:38%;width:21%;height:7%;}
#alert-close1{position:absolute;bottom:14%;left:38%;width:21%;height:10%;}

#deng1{left:0;top:30.6%;width:100%;display:none;
	-webkit-animation:sideIn 1s ease-out 0s infinite;
	-webkit-animation-fill-mode:forwards;}
#deng2{left: 24.2%;
top: 25%;
width: 51.6%;
	-webkit-animation:sideIn .5s ease-out 0s infinite;
	-webkit-animation-fill-mode:forwards;}

@-webkit-keyframes sideIn{
	10%{opacity:1;}
50%{opacity:0;}
90%{opacity:1;}
}
@-webkit-keyframes sideOut{
	0%{-webkit-transform:rotate(0deg);-webkit-transform-origin:bottom left;opacity:1;}
	100%{-webkit-transform:rotate(-90deg);-webkit-transform-origin:bottom left;opacity:1;}
}


#m1-1_1{width: 21%;height: 5%;left: 76%;top: 6.4%;}
#m1-1_2{width: 89%;height: 71%;left: 6%;top: 11.8%;overflow: hidden;}

#m3_1{width: 11%;
height: 5%;
left: 85%;
top: 25.8%;}
#m3_2{width: 88%;left: 6%;top: 33.8%;}
#m3_3{width: 31%;
height: 4%;
left: 51%;
top: 22.5%;text-align: center;}
#m3_6{width: 84%;
height: 40%;
left: 8%;
top: 40.8%;overflow: hidden;z-index:4;}
#m3_6 table{width:100%;}
#m3_6 table tr{width:100%;height:34px;}
#m3_6 table tr td{text-align:center;color:#fff;font-size:16px;}
#m3_6 table tr:nth-of-type(even){background-color:rgba(255,255,255,0.2);}

#m3_7{width: 88%;left: 6%;top: 33.8%;display:none;}
#m3_8{width: 84%;
height: 40%;
left: 8%;
top: 40.8%;overflow: hidden;display:none;z-index:4;}
#m3_8 table{width:100%;}
#m3_8 table tr{width:100%;height:34px;}
#m3_8 table tr td{text-align:center;color:#fff;font-size:16px;}
#m3_8 table tr:nth-of-type(even){background-color:rgba(255,255,255,0.2);}


#m3_4{width: 15%;
height: 6%;
left: 6%;
top: 33.8%;z-index:4;}
#m3_5{width: 13%;
height: 5%;
left: 22%;
top: 34.8%;z-index:4;}


/* 新修改 */
/* #m2-1_page */ 
/* #loginmod,#m2-1_page .fxbg .regpop{
	position: absolute;
	top: 0;
	left: 24.2%;
} */
.regpopcon{width:874px;min-height:264px;padding:0 15px;font-size:21px;color:#fff; background:url(../images/pop_bg.jpg) no-repeat; background-size:904px 370px; position:absolute;top:210px;left:6.2%;margin-left:-141px;z-index:2;margin: 0 auto;padding-bottom: 20px;}
.regpopcon h5{font-size:21px;line-height:28px;margin: -8px 0 0 20px;}
.regpopcon .fp a{color:#000;width:86px;height:31px;line-height:31px; text-align:center;display:inline-block; background:-webkit-gradient(linear,0 0,0 100%,from(#edca45),to(#ba9716));}
.regpopcon form .line{height:0px;width:100%;border:1px solid #c8c8c7;margin:4px 0;}
.regpopcon form p{line-height:56px;}
.regpopcon form p span,.regpopcon h5,.tishi span{color:#f3c254;}
.regpopcon form input[type="text"],.regpopcon form input[type="tel"],.regpopcon form select{width:283px;height:41px;border:none;}
.regpopcon form .lab{min-width:60px; display:inline-block;margin-right:8px;}
.regpopcon form .sele1{width:118px;height:41px;}
.regpopcon form #city1,.regpopcon form #city2{margin-left:18px;}
.regpopcon form p #myverification1{width:136px;}
#lab{
	width: 0.5em;
	display: inline-block;
}

#m2-1_1,#m2-1_3{width:133px;height:42px;line-height:42px;font-size:21px;color:#000; text-align:center;display:inline-block; background:-webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#c5c5c5));border-radius:5px; position:absolute;left:294px;top:194px;}
#m2-1_1{z-index:1;}
#m2-1_3{z-index:2;display:none;}
.m2-1_2{width:352px;height:63px;left: 59%;top:76.8%; background:url(../images/butt1.png) no-repeat; background-size:contain;z-index:2;}
.tishi{color:#fff;top:78%;left:88px;font-size:21px;}


.reg2 .regpopcon,.reg3 .regpopcon{padding:37px 15px 10px;}
.reg2 .tishi,.reg3 .tishi{top:69%;}
.reg2 .m2-1_2,.reg3 .m2-1_2{top:69%;}
#loginame,#logintel{color:#fff;}

#loginmod .mark{width:100%;height:100%; position:absolute;top:0;left:0; background:rgba(0,0,0,0.5);z-index:6;}
#loginmod .logincon{width:556px; position:absolute;top:0;left:22.4%;/* margin-left:-139px; */z-index:7;}
#loginmod img{width:100%;display:inline-block;}
#loginmod form{width: 100%; height: 100%; position: absolute;top: 40.6%;left: 28.8%;}
#loginmod form p{line-height: 10%;margin-bottom: 14px;}
#loginmod form p input{width: 194px;height: 52px;}
#code2{position: absolute;left: 64%;top: 0%;width: 120px;height: 50px;cursor: pointer;}
#codetext{position: absolute;left: 38%;top: 2%;font-size: 14px;}
#loginmod form .loginbutt{position: absolute; left:-23%; top:33%; width:160px; height:51px;}
#loginmod .lback{position: absolute;left: 68.4%;top: 64.6%;width: 78px;height: 24px;font-size: 16px;}