
*{margin:0; padding:0; outline:none;}
html,body{width:100%; height:100%; font-family:"΢���ź�";font-size:18px;margin:0; color:#000; background-color:#000;}
/*dl,ul,li{list-style:none;}*/
input,select{border:none}
a{color:#000;}
a{border:0;}
img{border:0;}
a:link,a:visited,a:active,a:hover{text-decoration:none;}
a:focus {outline:none;-moz-outline:none;}
ul, li{list-style:none;}
.clear {clear: both;}
.Dn{display:none}
.Do{filter:Alpha(Opacity=0);-moz-opacity:0;opacity:0;}
/*背景*/
#BG{width:640px;height:1010px;left:50%;top:0;margin-left:-320px;float:left;z-index:1;position:fixed;}
.body1{width:640px;top:0;height:1010px;left:50%;margin-left:-320px;position:absolute;z-index:0;overflow:hidden;}
.body2{width:640px;top:0;left:50%;margin-left:-320px;position:absolute;z-index:0}
/*初始化加载页面*/
.nibuguan{width:640px;height:101px;top:0;left:50%;margin-left:-320px;position:absolute;z-index:1;background:#000;filter:Alpha(Opacity=.03);-moz-opacity:.03;-webkit-opacity:.03;-ms-opacity:.03;-o-opacity:.03;opacity:.03}
.loading{width:640px; height:100%; top:0; left:50%; margin-left:-320px; background-color:#000; position:fixed; z-index:100000; float:left; filter:Alpha(Opacity=100);-moz-opacity:1; opacity: 1;}
.loadingImg{width:640px; height:28px; line-height:28px; text-align:center; font-size:28px; color:#FFF; font-weight:bold; top:50%; left:50%; margin-top:-14px; margin-left:-320px; position:fixed; z-index:100001; text-align:center; float:left;}
/*公用背景*/
.BG{width:640px;height:1049px;float:left;background:url("../img/b.jpg")no-repeat;z-index:10}
/*底部导航条tabhost*/
.tableHost{width:640px;height:85px;float:left;position:fixed;bottom:30px;z-index:9999;}
.tableHost_btn{height:85px;float:left;}
.tableHost #btn1{width:120px}
.tableHost #btn2{width:175px}
.tableHost #btn3{width:170px}
.tableHost #btn4{width:175px}
/*弹层遮罩*/
.zhao{width:100%;height:100%;position:absolute;z-index:1200;background:#000;filter:Alpha(Opacity=.7);-moz-opacity:.7;opacity:.7;}
/*home page*/
.home{width:640px;height:100%;float:left;position:absolute;z-index:1000}
 .login{width:230px;height:124px;float:left;z-index:1202;background:url("../img/login.png")no-repeat;position:absolute;left:20px;top:10px}
 .login .T{width:58px;height:30px;float:left;z-index:1199;background:url("../img/login_T.png")no-repeat;position:absolute;top:46px;left:67px}
 .login .img{width:70px;height:70px;float:left;z-index:1199;position:absolute;top:27px;left:60px;/*-webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg);border-radius:10px;*/background:#fff;box-shadow:2px 2px 2px 1px #000;}
 #userOut{width:70px; height:70px; margin-top:27px; float:right;}
 #loged{border-radius:50%}
 #loged img{border-radius:50%}
.home .head{width:640px;height:281px;float:left;background:url("../img/h_head.png")no-repeat;z-index:1100;position:absolute;top:100px}
.home .playV{width:211px;height:139px;float:left;z-index:2100;position:absolute;top:65px;left:73px;}
.home .video{width:312px;height:232px;float:right;background:url("../img/video_b.png")no-repeat;z-index:1301;position:absolute;top:258px;right:22px}
.home .video .v_t{width:100px;float:left;z-index:1399;position:absolute;color:#db2524;font-weight:bold;font-size:14px;-webkit-transform: rotate(-7deg); -moz-transform: rotate(-7deg);text-align:center;}
.home .video .rvName{top:17px;left:160px;letter-spacing:-1px}
.home .video .lvName{top:28px;left:55px;letter-spacing:-3px;color:#000}
.home .video .arrow_b{width:18px;height:14px;float:left;background:url("../img/video_jd_b.png")no-repeat;z-index:1400;position:absolute;top:25px;left:147px}
.home .video .arrow_r{width:18px;height:14px;float:left;background:url("../img/video_jd_r.png")no-repeat;z-index:1400;position:absolute;top:11px;left:265px}
.home .video .v{width:211px;height:139px;float:left;z-index:1399;position:absolute;top:65px;left:73px;}
.home .video .v video{position:absolute;z-index:2000}
.home .foot{width:640px;height:692px;float:left;background:url("../img/h_map.png")no-repeat;z-index:1300;position:absolute;bottom:0}
.home .foot #canvasBtn1{float:left;position:absolute;z-index:1399;-webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg);top:295px;left:315px}
.home .tableHost{background:url("../img/tabHost_h.png")no-repeat}

    /*登陆弹出层*/
    .Login_index{width:640px;height:100%;float:left;position:absolute;z-index:1201}
    .Login_index .head{width:393px;height:71px;float:left;position:absolute;left:50%;margin-left:-196px;top:60px;z-index:1202;background:url("../img/Login_h.png")no-repeat}
    .Login_index .content{width:640px;float:left;position:absolute;left:50%;margin-left:-320px;top:174px;z-index:1202;}
    .Login_index .content .sina{width:302px;height:120px;float:left;position:absolute;left:50%;margin-left:-151px;z-index:1210;background:url("../img/Login_sina.png")no-repeat;top:83px}
    .Login_index .content .w163{width:302px;height:120px;float:left;position:absolute;left:50%;margin-left:-151px;z-index:1210;background:url("../img/Login_163.png")no-repeat;top:286px}
    /*.Login_index .content .qq{width:302px;height:120px;float:left;position:absolute;left:50%;margin-left:-151px;z-index:1210;background:url("../img/Login_qq.png")no-repeat;top:489px}*/
	.Login_index .qq{width:302px;height:120px;float:left;position:absolute;left:50%;margin-left:-151px;z-index:1210;background:url("../img/Login_qq.png")no-repeat;top:50%;margin-top:-60px}
    .Login_index .foot{width:171px;height:78px;float:left;position:absolute;left:50%;margin-left:-85px;bottom:40px;z-index:1210;background:url("../img/return.png")no-repeat}
    /*开启挑战弹层*/
    .share{width:640px;height:100%;float:left;position:absolute;z-index:1201}
    .share .head{width:640px;height:488px;float:left;background:url("../img/share_t.png")no-repeat;position:absolute;top:246px}
    .share .foot{width:218px;height:105px;float:left;background:url("../img/share_btn.png")no-repeat;position:absolute;bottom:30px;left:50%;margin-left:-109px}
    

/*我的边界 page*/
.myBorder{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.myBorder .tableHost{background:url("../img/tabHost_h.png")no-repeat}
.myBorder .content{width:640px;height:904px;float:left;background:url("../img/myborder_content.png")no-repeat;position:absolute;bottom:0;z-index:1001}
    .myBorder .team .T{width:243px;height:43px;float:left;background:url("../img/myborder_selectTeam.png")no-repeat;position:absolute;top:35px;left:46px;z-index:1100}
    .myBorder .team .countryGroup{float:left;position:absolute;top:120px;left:10px;z-index:1100}
    .myBorder .team .countryGroup .countryImg{width:56px;height:44px;-webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg);border-radius:10px;}
    .myBorder .team .countryGroup .showBig{width:84px;height:64px;-webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg);border-radius:10px;}
    .myBorder .team .countryGroup .selected_k{width:108px;height:84px;border-radius:10px;background:url("../img/country/countrySelected.png")no-repeat}
    .myBorder .team .countryGroup .K{width:108px;height:84px;border-radius:10px;position:absolute;}
    .myBorder .team .countryGroup .country table{width:108px;height:84px;border-radius:10px}
    .myBorder .team .countryGroup .country{width:145px;height:135px;float:left;color:#000;position:relative;margin-left:10px;font-style:italic}
    .myBorder .team .countryGroup .country p{float:left;color:#000}
    .myBorder .team .countryGroup .country .t1{margin-top:90px;width:130px;position:absolute}
    .myBorder .team .countryGroup .country .t2{width:145px;position:absolute;margin-top:110px}
    .myBorder .team .group{width:520px;float:left;position:absolute;top:320px;left:61px;z-index:1101}
    .myBorder .team .group_{width:520px;float:left;position:absolute;top:320px;left:61px;z-index:1100}
    .myBorder .team .group .groupImg{width:52px;height:45px;float:left;margin-left:13px;position:relative}
    .myBorder .team .group .a{background:url("../img/group/a.png")no-repeat;margin-top:17.5px}
    .myBorder .team .group .b{background:url("../img/group/b.png")no-repeat;margin-top:15px}
    .myBorder .team .group .c{background:url("../img/group/c.png")no-repeat;margin-top:12.5px}
    .myBorder .team .group .d{background:url("../img/group/d.png")no-repeat;margin-top:10px}
    .myBorder .team .group .e{background:url("../img/group/e.png")no-repeat;margin-top:7.5px}
    .myBorder .team .group .f{background:url("../img/group/f.png")no-repeat;margin-top:5px}
    .myBorder .team .group .g{background:url("../img/group/g.png")no-repeat;margin-top:2.5px}
    .myBorder .team .group .h{background:url("../img/group/h.png")no-repeat}
    .myBorder .team .group .a_{background:url("../img/group/a_.png")no-repeat;margin-top:17.5px}
    .myBorder .team .group .b_{background:url("../img/group/b_.png")no-repeat;margin-top:15px}
    .myBorder .team .group .c_{background:url("../img/group/c_.png")no-repeat;margin-top:12.5px}
    .myBorder .team .group .d_{background:url("../img/group/d_.png")no-repeat;margin-top:10px}
    .myBorder .team .group .e_{background:url("../img/group/e_.png")no-repeat;margin-top:7.5px}
    .myBorder .team .group .f_{background:url("../img/group/f_.png")no-repeat;margin-top:5px}
    .myBorder .team .group .g_{background:url("../img/group/g_.png")no-repeat;margin-top:2.5px}
    .myBorder .team .group .h_{background:url("../img/group/h_.png")no-repeat}
    .myBorder .team .passBtn{width:366px;height:66px;float:left;background:url("../img/myborder_btn.png")no-repeat;position:absolute;bottom:394px;right:45px;z-index:1101}
	
    .myBorder .person{bottom:60px;left:-50px;position:absolute;/*-webkit-transform:scale(0.7);-moz-transform:scale(0.7);-o-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7);*/z-index: 1100;}

    /*好友选择弹层*/
    .myBorder .friend .head .f_name_b{width: 231px;height:57px;float:left;background:url("../img/m_f_n_b.png")no-repeat;position:absolute;top:32px;left:32px;}
    .myBorder .friend .head .f_name_b table{width: 231px;height:57px}
    .myBorder .friend .head .f_name_b .username{font-size:30px;color:#fdea00}
    .myBorder .friend .T{width:278px;height:48px;float:left;background:url("../img/myborder_selectF.png")no-repeat;position:absolute;top:35px;left:278px;z-index:1100;-webkit-transform: rotate(1deg); -moz-transform: rotate(1deg);}
    .myBorder .friend .f_list{float:left;position:absolute;top:140px;left:46px;z-index:1100}
    .myBorder .friend .f_list .f_item{float:left;position:relative;margin-left:40px}
    .myBorder .friend .f_list .f_item .photo{width:90px;height:70px;float:left;border-radius:10px;}
    .myBorder .friend .f_list .f_item .photo img{border-radius:10px;}
    .myBorder .friend .f_list .f_item .fselect{width:40px;height:40px;float:left;position:absolute;bottom:-20px;right:-20px;background:url("../img/f_unselect.png")no-repeat}
    .myBorder .friend .f_list .f_item .fselected{width:40px;height:40px;float:left;position:absolute;bottom:-20px;right:-20px;background:url("../img/f_selected.png")no-repeat}
    .myBorder .friend .f_list .f1{margin-top:21px;}
    .myBorder .friend .f_list .f2{margin-top:14px;}
    .myBorder .friend .f_list .f3{margin-top:7px;}
    .myBorder .friend .f_list .f4{}
    .myBorder .friend .f_list .f_item .fname{width:120px;position:absolute;bottom:-40px;left:-10px;font-size:20px;color:#000000;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
    .myBorder .friend .foot{width:640px;float:left;position:absolute;top:273px;z-index:1101}
    .myBorder .friend .foot .arrow{width:40px;height:40px;float:left;background:url("../img/f_list_mark/jd.png")no-repeat;position:absolute}
    .myBorder .friend .foot .arrow_r{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);top:45px;right:50px}
    .myBorder .friend .foot .arrow_l{top:68px;left:50px}
    .myBorder .friend .foot .pageNum{width:460px;height:51.5px;float:left;position:absolute;left:90px;top:50px;-webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg)}
    .myBorder .friend .foot table{width:460px;height:51.5px}
    .myBorder .friend .foot .pageNum .num{width:29px;height:51.5px}
    .myBorder .friend .foot .pageNum .num1{/*background:url("../img/f_list_mark/1.png")no-repeat;*/margin-top:-3px}
    .myBorder .friend .foot .pageNum .num2{/*background:url("../img/f_list_mark/2.png")no-repeat;*/margin-top:-3px}
    .myBorder .friend .foot .pageNum .num3{/*background:url("../img/f_list_mark/3.png")no-repeat;*/margin-top:-2px}
    .myBorder .friend .foot .pageNum .num4{/*background:url("../img/f_list_mark/4.png")no-repeat;*/margin-top:0}
    .myBorder .friend .foot .pageNum .num5{/*background:url("../img/f_list_mark/5.png")no-repeat;*/margin-top:1px}
    .myBorder .friend .foot .pageNum .num6{/*background:url("../img/f_list_mark/6.png")no-repeat;*/margin-top:1px}
    .myBorder .friend .foot .pageNum .num7{/*background:url("../img/f_list_mark/7.png")no-repeat;*/margin-top:1px}
    .myBorder .friend .foot .pageNum .numRed{background-position:0 -54.5px}
    .myBorder .friend .foot .pageNum .numBlack{background-position:0 0}
    .myBorder .friend .f_btn{width:274px;height:68px;float:left;background:url("../img/f_btn.png")no-repeat;position:absolute;bottom:386px;right:107px;z-index:1100}

    /*定位弹层*/
    .myBorder .location{width:640px;height:100%;float:left;position:absolute;z-index:1201}
    .myBorder .location .content{width:640px;height:600px;float:left;background:url("../img/location_b.png")no-repeat;position:absolute;top:227px}
    .myBorder .location .content .map{width:430px;height:308px;float:left;position:absolute;top:105px;left:104px;z-index:1299;overflow:hidden}
    .myBorder .location .content .current_location{width:240px;height:20px;position:absolute;z-index:1202;bottom:156px;right:100px;color:#fdea00;font-style:italic;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
    .myBorder .location .content .sureBtn{width:99px;height:46px;float:left;background:url("../img/location_sureBtn.png")no-repeat;position:absolute;left:269px;bottom:96px;z-index:1202}
    .myBorder .location .foot{width:171px;height:78px;float:left;position:absolute;left:50%;margin-left:-85px;bottom:40px;z-index:1210;background:url("../img/return.png")no-repeat}
    
    /*传球成功*/
    .myBorder .passBallSuccess{width:640px;height:100%;position:absolute;z-index:1201}
    .myBorder .passBallSuccess .h1{width:640px;height:120px;float:left;margin-top:290px;background:url("../img/passBallSuccess_1.png")no-repeat center}
    .myBorder .passBallSuccess .btn1{width:640px;height:120px;float:left;background:url("../img/passBallSuccess_2.png")no-repeat center}
    .myBorder .passBallSuccess .btn2{width:640px;height:120px;float:left;background:url("../img/passBallSuccess_3.png")no-repeat center}
    .myBorder .passBallSuccess .btn3{width:171px;height:78px;float:left;position:absolute;left:50%;margin-left:-85px;bottom:40px;z-index:1210;background:url("../img/retu   rn.png")no-repeat}
/*传球圈*/
.map{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.map .passBall{width:640px;height:948px;float:left;position:absolute;bottom:0;z-index:1001;background:url("../img/b2.png")no-repeat}
.map .tableHost{background:url("../img/tabHost_m.png")no-repeat}
.map .passBall .title{width:194px;height:50px;float:left;background:url("../img/h_t_m.png")no-repeat;position:absolute;top:67px;right:52px}
.map .map_zhao{width:570px;height:640px;float:left;position:absolute;bottom:170px;left:33px;overflow:hidden;background:#fff;-webkit-transform:skewX(-3deg);-moz-transform:skewX(-3deg);-o-transform:skewX(-3deg);-ms-transform:skewX(-3deg);transform:skewX(-3deg);border-radius: 10px;}
.inviteFriend{width:393px;height:71px;float:left;position:absolute;left:20px;top:142px;background:url("../img/inviteFriend.png")no-repeat;z-index:1300}


/*活动介绍*/
.introduceActive{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.introduceActive .tableHost{background:url("../img/tabHost_a.png")no-repeat}
.introduceActive .content{width:640px;height:948px;float:left;background:url("../img/b2.png")no-repeat;position:absolute;bottom:0;z-index:1001}
.introduceActive .content .title{width:194px;height:50px;float:left;background:url("../img/h_t_a.png")no-repeat;position:absolute;top:67px;right:52px}
.introduceActive .content .y_b{width:439px;height:87px;float:left;background:url("../img/introduce_y_b.png")no-repeat;position:absolute;top:191px;left:53px}
.introduceActive .content .t{width:662px;height:618px;float:left;position:absolute;top:150px;z-index:1201;overflow-x:hidden;-webkit-transform:skewX(-1deg);-moz-transform:skewX(-1deg);-o-transform:skewX(-1deg);-ms-transform:skewX(-1deg);transform:skewX(-1deg)}
/*.introduceActive .content .t .t_png{width:640px;height:2440px;float:left;position:absolute;z-index:1200;background:url("../img/introduceActive_t.png")no-repeat;-webkit-transform:skewX(-1deg);-moz-transform:skewX(-1deg);-o-transform:skewX(-1deg);-ms-transform:skewX(-1deg);transform:skewX(-1deg)}*/
.introduceActive .content .t .t_png{left:30px;float:left;position:absolute;z-index:1200;/*-webkit-transform:skewX(-2deg);-moz-transform:skewX(-2deg);-o-transform:skewX(-2deg);-ms-transform:skewX(-2deg);transform:skewX(-2deg)*/}
.introduceActive .content .scollY{width:50px;height:641px;position:absolute;z-index:1300;top:146px;right:0;-webkit-transform:skewX(-2deg);-moz-transform:skewX(-2deg);-o-transform:skewX(-2deg);-ms-transform:skewX(-2deg);transform:skewX(-2deg)}
.introduceActive .content .arrow{width:43px;height:131px;float:right;background:url("../img/introduceActive_arrow.png")no-repeat;position:absolute;top:150px; right:7px;z-index:1311}
.introduceActive .content .arrow .up{width:43px;height:65px;float:left}
.introduceActive .content .arrow .down{width:43px;height:65px;float:left}


.borderTop{border-top:dashed 1px #fffc00;}
.borderBottom{border-bottom:dashed 1px #fffc00;}
.borderR{border-right:dashed 1px #fffc00;}
/*排行榜*/
.rank{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.rank .tableHost{background:url("../img/tabHost_r.png")no-repeat}
.rank .content{width:640px;height:948px;float:left;background:url("../img/b2.png")no-repeat;position:absolute;bottom:0;z-index:1001}
.rank .content .title{width:194px;height:50px;float:left;background:url("../img/h_t_r.png")no-repeat;position:absolute;top:67px;right:52px}
.rank .content .title_h2{width:148px;height:36px;float:left;background:url("../img/rank_t.png")no-repeat;position:absolute;top:151px;left:266px}
.rank .content .title_tab{z-index:1200;width:540px;height:65px;float:left;position:absolute;top:200px;left:55px;-webkit-transform:skewX(-3deg);-moz-transform:skewX(-3deg);-o-transform:skewX(-3deg);-ms-transform:skewX(-3deg);transform:skewX(-3deg)}
.rank .content .title_tab .tab{width:264px;height:51px;float:left;margin:7px 3px;color:#fffc00;font-size:35px;font-weight:bold;line-height:51px;font-style:italic;text-align:center}
.rank .content .title_tab .title_tab_l{margin-left:0px}
.rank .content .rank_list{z-index:1200;width:540px;height:406px;float:left;position:absolute;bottom:271px;left:40px;overflow:hidden;-webkit-transform:skewX(-3deg);-moz-transform:skewX(-3deg);-o-transform:skewX(-3deg);-ms-transform:skewX(-3deg);transform:skewX(-3deg);/*background:#fff;*/}
.rank .content .rselected{z-index:1201}
.rank .content .rselected .tab{background:#000;filter:Alpha(Opacity=.3);-moz-opacity:.3;opacity:.3}
.rank .content .rselected .listItem_content{background:#000;filter:Alpha(Opacity=.3);-moz-opacity:.3;opacity:.3}
.rank .content .rank_list .listItem{width:540px;height:57px;float:left}
.rank .content .rank_list .listItem .listItem_content{width:540px;height:43px;float:left;margin:7px 0;color:#fffc00;font-size:30px;line-height:43px;font-style:italic}
.rank .content .rank_list .listItem .listItem_content .rol{width:42px;height:43px;float:left;margin-left:20px;background:url("../img/rol.png")no-repeat}
.rank .content .rank_list .listItem .listItem_content .listItem_Num{float:left;margin-left:10px;font-weight:bold}
.rank .content .rank_list .listItem .listItem_content .mL{margin-left:50px}
.rank .content .rank_list .listItem .listItem_content .username{float:left;margin-left:30px}
.rank .turn_arrow{z-index:1200;width:540px;height:65px;float:left;position:absolute;bottom:200px;left:25px;-webkit-transform:skewX(-3deg);-moz-transform:skewX(-3deg);-o-transform:skewX(-3deg);-ms-transform:skewX(-3deg);transform:skewX(-3deg)}
.rank .content .turn_arrow .tab{width:263px;height:51px;float:left;margin:7px 3px;color:#fffc00;font-size:35px;font-weight:bold;line-height:51px;font-style:italic;text-align:center}
.rank .arrow{width:40px;height:54px;background:url("../img/rank_arrow.png")no-repeat;position:absolute;}
.rank .larrow{left:150px}
.rank .rarrow{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);right:150px}

/*rankmap*/

.rankmap{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.rankmap .passBall{width:640px;height:100%;float:left;position:absolute;bottom:0;z-index:1001;background:url("../img/rankmap_b.png")no-repeat}
.rankmap .map_zhao{width:570px;height:640px;float:left;position:absolute;bottom:178px;left:33px;overflow:hidden;background:#fff;-webkit-transform:skewX(-3deg);-moz-transform:skewX(-3deg);-o-transform:skewX(-3deg);-ms-transform:skewX(-3deg);transform:skewX(-3deg);border-radius: 10px;}
.rankmap .foot{width:171px;height:78px;float:left;position:absolute;left:50%;margin-left:-85px;bottom:40px;z-index:1210;background:url("../img/return.png")no-repeat}
.rankmap .map_passball{width:300px;height:30px;position:absolute;top:172px;right:70px;color: #fffc00;font-size:24px;font-style:italic;float:left;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);}
/*好友信息 接球*/
.firendInfo{width:640px;height:100%;float:left;position:absolute;z-index:1000}
.firendInfo .head{width:640px;height:281px;float:left;background:url("../img/h_head.png")no-repeat;z-index:1100;position:absolute;top:100px}
.firendInfo .content{width:640px;height:411px;float:left;z-index:1101;background:url("../img/friendInfo_c.png")no-repeat;position:absolute;bottom:278px;}
.firendInfo .content img{border-radius:10px}
.firendInfo .content .countryImg{width:105px;height:77px;float:left;z-index:1102;position:absolute;top:83px;left:68px}
.firendInfo .content .mImg{width:105px;height:77px;float:left;z-index:1102;position:absolute;top:215px;left:133px;-webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg)}
.firendInfo .content .fImg{width:105px;height:77px;float:left;z-index:1102;position:absolute;top:204px;right:118px;-webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg)}
.firendInfo .content .fName{width:209px;height:30px;font-size:28px;line-height:38px;font-style:italic;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#db2524;position: absolute;right:40px;top:82px}
.firendInfo .content .passBtn{width:242px;height:72px;z-index:1110;float:left;position: absolute;left:210px;top:317px;-webkit-transform:skewX(-19deg)rotateZ(-10deg);-moz-transform:skewX(-19deg)rotateZ(-10deg);-o-transform:skewX(-19deg)rotateZ(-10deg);-ms-transform:skewX(-19deg)rotateZ(-10deg);transform:skewX(-19deg)rotateZ(-10deg)}
.firendInfo .tableHost{background:url("../img/tabHost_h.png")no-repeat}




.pageNumR{color: #db2524;font-size: 40px;font-weight: bold;text-shadow: 0 0 8px #db2524;text-shadow: 0 0 8px #db2524;text-shadow: 0 0 8px #db2524;text-shadow: 0 0 8px #db2524;font-style:italic}
.pageNumB{color: black;font-size: 40px;font-weight: bold;text-shadow: 0 0 8px black;text-shadow: 0 0 8px black;text-shadow: 0 0 8px black;text-shadow: 0 0 8px black;text-shadow: 0 0 8px black;text-shadow: 0 0 8px black;font-style:italic}