		html body{
			width:320px;
			height:525px;
			margin:0px 0px;
			padding:0px 0px;
			
		}
		.img-hidden{
			position:absolute;
			left:-10000px;
			top:-10000px;
		}
		.img-randbg{
			position:absolute;
			left:-10000px;
			top:-10000px;
			height:382px;
		}
		.file-load-img{
			position:absolute;
			left:-1px;
			top:-1px;
			
			height:1px;
			width:1px;
		}
		.div-main-top{
			position:relative;
			
			width:320px;
			height:391px;
			
			background-image:url('../images/i5/bg-top1.jpg');
			background-size:320px 391px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.div-main-bottom{
			position:relative;
			
			width:320px;
			height:133px;
			
			background-image:url('../images/i5/capture-bottom.jpg');
			background-size:320px 133px;
			background-position:left top;
			background-repeat:no-repeat;
			
			z-index:1;
		}
		
		.div-changeimg{
			position:absolute;
			top:83px;
			left:3px;
			
			width:100px;
			height:25px;
			
			cursor:pointer;
			
			z-index:2;
		}
		.div-shareweibo{
			position:absolute;
			top:83px;
			left:110px;
			
			width:100px;
			height:25px;
			cursor:pointer;

			z-index:2;
		}
		.div-shareweixin{
			position:absolute;
			top:83px;
			left:215px;
			
			width:100px;
			height:25px;
			
			cursor:pointer;
			
			z-index:2;
		}
		.canvas-target{
			position:absolute;
			top:-10000px;
			left:-10000px;
		}
		.div-text-notice{
			position:absolute;
			top:125px;
			left:33px;
			
			width:255px;
			height:235px;
			background-image:url('../images/i5/capture-notice-weixin.png');
			background-size:255px 235px;
			background-position:left top;
			background-repeat:no-repeat;
			
			display:none;
			
			z-index:1020;
		}
		.div-hide-noticearea{
			position:absolute;
			top:150px;
			left:143px;
			
			width:105px;
			height:30px;
			
			cursor:pointer;
			
		}
		
		
		.div-btn-uploadimg{
			position:absolute;
			top:348px;
			left:45px;
			
			width:116px;
			height:35px;
			
			background-image:url('../images/i5/capture-btn-upload-img.png');
			background-size:116px 35px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
			
			z-index:1004;
		}
		#canvas-transform{
			position:absolute;
			left:79px;
			top:132px;
			
			z-index:1003;
			
			width:147px;
			height:196px;
		}
		.div-top-transform{
			position:absolute;
			top:0px;
			left:0px;
			
			width:320px;
			height:391px;
			
			background-image:url('../images/i5/img-frame1-top.png');
			background-size:320px 391px;
			background-position:left top;
			background-repeat:no-repeat;
			
			z-index:1002;
		}
		.btn-turnleft{
			width:44px;
			height:47px;
			
			position:absolute;
			left:15px;
			top:200px;
			
			background-image:url('../images/rotate-left.png');
			background-size:44px 47px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
			z-index:1005;
			display:none;
		}
		.btn-turnright{
			width:45px;
			height:47px;
			
			position:absolute;
			left:250px;
			top:200px;

			background-image:url('../images/rotate-right.png');
			background-size:45px 47px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
			z-index:1005;
			display:none;
		}
