		html body{
			width:640px;
			height:873px;
			margin:0px 0px;
			padding:0px 0px;
			
			background-image:url('../images/i4/capture-bg.jpg');
			background-size:640px 873px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.img-hidden{
			position:absolute;
			left:-10000px;
			top:-10000px;
		}
		.img-randbg{
			position:absolute;
			left:-10000px;
			top:-10000px;
		}
		.file-load-img{
			position:absolute;
			left:-1px;
			top:-1px;
			
			height:1px;
			width:1px;
		}
		.div-main-top{
			position:relative;
			
			height:624px;
			width:640px;
		}
		.div-main-bottom{
			position:relative;
			
			height:249px;
			width:640px;
		}
		.div-changeimg{
			position:absolute;
			top:165px;
			left:6px;
			
			width:200px;
			height:50px;
			
			cursor:pointer;
		}
		.div-shareweibo{
			position:absolute;
			top:165px;
			left:220px;
			
			width:200px;
			height:50px;
			
			cursor:pointer;
		}
		.div-shareweixin{
			position:absolute;
			top:165px;
			left:430px;
			
			width:200px;
			height:50px;
			
			cursor:pointer;
		}
		.canvas-target{
			position:absolute;
			top:0px;
			left:0px;
		}
		.div-top-title{
			position:absolute;
			top:15px;
			left:40px;
			
			width:387px;
			height:147px;
			
			background-image:url('../images/i4/capture-titles.png');
			background-size:387px 147px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.div-text-notice{
			position:absolute;
			top:200px;
			left:90px;
			
			width:446px;
			height:415px;
			background-image:url('../images/i4/capture-notice-weixin.png');
			background-size:446px 415px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.div-hide-noticearea{
			position:absolute;
			top:265px;
			left:240px;
			
			width:180px;
			height:50px;
			
			cursor:pointer;
		}
		.div-btn-uploadimg{
			position:absolute;
			top:550px;
			left:110px;
			
			width:231px;
			height:69px;
			
			background-image:url('../images/i4/capture-btn-upload-img.png');
			background-size:231px 69px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
		}

		
		.div-top-transform{
			position:absolute;
			top:0px;
			left:0px;
			
			width:640px;
			height:626px;
			
			display:none;
		}
		.canvas-transform{
			width:268px;
			height:360px;
			
			position:absolute;
			left:50%;
			margin-left:-126px;
			top:50%;
			margin-top:-123px;
			z-index:10003;
		}
		.btn-turnleft{
			width:87px;
			height:93px;
			
			position:absolute;
			left:60px;
			top:300px;
			
			background-image:url('../images/rotate-left.png');
			background-size:87px 93px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
		}
		.btn-turnright{
			width:89px;
			height:93px;
			
			position:absolute;
			left:500px;
			top:300px;

			background-image:url('../images/rotate-right.png');
			background-size:89px 93px;
			background-position:left top;
			background-repeat:no-repeat;
			
			cursor:pointer;
		}