	html body{
			width:320px;
			height:525px;
			margin:0px 0px;
			padding:0px 0px;
			
			background-image:url("../images/i5/index-bg.jpg");
			background-size:320px 525px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.div-to-introduction{
			position:absolute;
			top:278px;
			left:19px;
			
			width:115px;
			height:33px;
			
			cursor:pointer;
		}
		.div-to-updatepicture{
			position:absolute;
			top:317px;
			left:19px;
			
			width:115px;
			height:33px;
			
			cursor:pointer;
		}