	html body{
			width:640px;
			height:873px;
			margin:0px 0px;
			padding:0px 0px;
			
			background-image:url("../images/i4/index-bg.jpg");
			background-size:640px 873px;
			background-position:left top;
			background-repeat:no-repeat;
		}
		.div-to-introduction{
			position:absolute;
			top:565px;
			left:38px;
			
			width:230px;
			height:60px;
			
			cursor:pointer;
		}
		.div-to-updatepicture{
			position:absolute;
			top:640px;
			left:38px;
			
			width:230px;
			height:60px;
			
			cursor:pointer;
		}