@charset "utf-8";
/* CSS Document */
body,html{ background:#fff;}
.container{width:320px;margin:0 auto;-webkit-text-size-adjust:none; position:relative;}
figure img,.posi img,.pop .popcon a img{ display:block;width:100%;}
.posi{ position:absolute;}

#form{width:249px;height:300px; position:absolute;top:80px;left:36px;z-index:1;}
#form input{width:140px;height:26px; background:rgba(255,255,255,0);border:none;left:102px;z-index:5;}
#form #name{top:4px;}
#form #code{top:44px;}
#form .sub{width:100%;height:40px;top:122px;z-index:6;}
#form .sub a{display:block;width:100%;height:100%; text-indent:-999px;}

.pop .mark{ position:absolute;width:100%;height:100%; background:rgba(0,0,0,0.6); top:0;left:0;z-index:8;}
.pop .popcon{width:187px; text-align:center; position:absolute;top:126px;left:50%;margin-left:-93px;z-index:9;}
.pop .popcon a{width:28px; position:absolute;top:-25px;right:-40px;z-index:1;}
.pop .popcon #precent{width:157px;margin:6px auto;}