@import "reset.css";

html,body{background:#fff;font-family:微软雅黑,Microsoft Yahei,Tahoma,Arial,sans-serif;padding:0px;margin:0px;outline:none;font-size:14px;}

img {height: auto;max-width: 100%;width: auto;display:block;}
.fxbg{position:relative;height:100%;width:640px;margin:0 auto;}

.btn1{position:absolute;width: 100%;height:100%;top:0;left:0;text-align:center;padding-top:0%;z-index: 2;}
.btn1 > *{z-index:3;}
.btn2{position:fixed;
	/*width: 100%;*/
	height:auto;
	bottom:0;
	/*left:0;*/
	text-align:center;
	padding-top:0%;
	z-index: 2;
}
.btn3{
	position:absolute;
	max-width:640px;
	width: 100%;
	height:100%;
	background-color:rgba(16,122,149,.8);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) , rgba(98,98,98,1) 92%,rgba(0,0,0,.3) 92%, rgba(0,0,0,.3) 100%);*/
	top:0;
	/*left:0;*/
	text-align:center;
	z-index: 2;
}


#v1{width: 42%;height: 7%;left: 29%;top: 80%;}
#v2{width: 141px;height: 42px;right: 9px;bottom:111px;display:none;}
#v3{width: 141px;height: 42px;right: 9px;bottom:71px;display:none;}
#v4{width: 42%;height: 7%;left: 29%;top: 81.5%;}

.fly{display:inline-block;position:absolute; box-sizing:border-box;}


#m1{width:160px;height:72px;left:0;bottom:0;}
#m2{width:160px;height:72px;left:160px;bottom:0%;}
#m3{width:160px;height:72px;left:320px;bottom:0%;}
#m4{width:160px;height:72px;left:480px;bottom:0%;}

.bigpic{top:182px;left:50px;}
.btnpic{top:612px;left:188px;}
#pihua{width:460px;height:250px;background-color:transparent;top:235px;left:90px;font-size:22px;line-height:50px;color:#fff;border:none;}
#pihua::-webkit-input-placeholder{color:#fff;}
#chuohao{width:133px;height:40px;top:495px;left:418px;color:#fff;font-size:22px;background-color:transparent;border:none;}

#canvas{width:544px;height:411px;background-size: 100%;display: inline-block;}
#youhui{width:544px;height:411px;top:182px;left:50px;}
#cover{width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.4);position:fixed;z-index:2;}
#quan{margin:auto;top:0;bottom:0;left:50px;z-index:3;}

#name{width:230px;height:37px;top:320px;left:146px;background-color:transparent;border:none;}
#mobile{width:230px;height:37px;top:370px;left:146px;background-color:transparent;border:none;}
#address{width:348px;height:70px;top:422px;left:146px;background-color:transparent;border:none;}

#baidu_map{width:622px;height:564px;top:164px;left:10px;border:4px solid #bb1d0e;}

#nav{bottom:62px;right:9px;display:none;}

#bb{color:#a19790;font-size:18px;text-align:left;right:40px;top:524px;width:236px;height:116px;padding-right:2px;}
#goushiyun{top:45%;left:42%;font-size:22px;color:#fff;}

#info{top:150px;left:40px;width:576px;height:545px;}
#info img{width:567px;}

