@import "reset.css";

html,body{background:#fff;font-family:微软雅黑,Microsoft Yahei,Tahoma,Arial,sans-serif;padding:0px;margin:0px;outline:none;font-size:14px;}

img {height: auto;max-width: 100%;width: auto;display:block;}
.fxbg{position:relative;height:100%;width:640px;margin:0 auto;}

.btn1{position:absolute;width: 100%;height:100%;top:0;left:0;text-align:center;padding-top:0%;z-index: 2;}
.btn1 > *{z-index:3;}
.btn2{position:fixed;
	/*width: 100%;*/
	height:auto;
	bottom:0;
	/*left:0;*/
	text-align:center;
	padding-top:0%;
	z-index: 2;
}
.btn3{
	position:absolute;
	max-width:640px;
	width: 100%;
	height:100%;
	background-color:rgba(16,122,149,.8);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) , rgba(98,98,98,1) 92%,rgba(0,0,0,.3) 92%, rgba(0,0,0,.3) 100%);*/
	top:0;
	/*left:0;*/
	text-align:center;
	z-index: 2;
}


#v1{width: 23%;height: 7%;left: 8%;top: 82%;}
#v2{width: 40%;height: 23%;left: 52%;top: 25%;}

.fly{display:inline-block;position:absolute; box-sizing:border-box;}


#m1{width:120px;height:50px;left:40px;bottom:0;}
#m2{width:120px;height:50px;left:160px;bottom:0%;}
#m3{width:120px;height:50px;left:280px;bottom:0%;}
#m4{width:104px;height:50px;left:400px;bottom:0%;}
#m5{width:120px;height:50px;left:508px;bottom:0%;}



#m2_1{width:70%;height:30px;left:65px;top:72%;}
#m2_2{width:70%;height:30px;left:65px;top:76%;}
#m2_3{width:70%;height:30px;left:65px;top:79%;}
#m2_4{width:70%;height:30px;left:65px;top:83%;}
#m2_5{width:70%;height:30px;left:65px;top:86%;}

#m2_1_a{width:31%;height:7%;right:1%;top:42%;}






