@charset "utf-8";
@import "reset.css";

html,body{ font-family: "微软雅黑",Arial, Helvetica, sans-serif;}
body{-webkit-text-size-adjust:none}
figure img{width:100%;display:block;}
a img{width:100%;display:block;}
ul{list-style:none outside none;margin:0;padding:0;}

/*首页*/
.container{ width:100%;position:relative;margin:0 auto; }
.pic1{ width:100%; position:absolute;top:12.5%;} 
.pic2{ width:100%; position:absolute;top:12.5%;} 
.pic3{ width:100%; position:absolute;top:12.5%;} 

.refresh-ted{width:49.6%; position:absolute;top:47.5%;}
.refresh-lc{width:49.6%; position:absolute;top:47.5%;right:0;}

.refresh-al{width:49.6%; position:absolute;top:62%; }
.online-bm{width:49.6%; position:absolute;top:62%; right:0;}

.fwpeo{width:49.6%; position:absolute;top:76.5%;}
.cpcx{width:49.6%; position:absolute;top:76.5%;right:0;}

.index-tel-div{ position:absolute;top:20px;right:5px;cursor:pointer;height:40px;width:130px; }/*首页 tel 模块*/

/*首页-分页1*/
.content1{ width:320px; height:480px; background:url(../images/480.jpg) no-repeat;zoom:1; margin:0 auto;}
.home1{height:44px;width:320px;background-color:#1cb8cf;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home1 .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home1 .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home1 .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home1 h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home1 .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home1 .backBut2 img{width: 31px;margin:3px 8px 0 4px;vertical-align: middle;}
.home1 .backBut2 label{font-size:8px;color:#fff;vertical-align: middle;display: inline-block; line-height:19px;}

.midd-cont{ width:100%; height:320px; overflow:auto; }

.win-list{ width:320px; height:174px; overflow:hidden;}
.win-list .scrolltop li a img{ height:46px;}
.win-list .scrolltop li a img{ display:block; margin-bottom:1px;}
.win-list .scrolltop .hide{ width:320px; display:none;}

.win-list .scrolltop .hide1{ height:67px;}
.win-list .scrolltop #hide2{ height:83px;}
.win-list .scrolltop .hide3{ height:85px;}
.win-list .scrolltop .hide4{ height:62px;}

.pics_show {width:320px;height:145px;overflow: hidden;position: relative;background:#DDD;}
.pics_show .text {display:block;height:20px;left:0;position:absolute;top:219px;width:320px;
z-index: 100;}
.pics_show .text_01 {display:block; background:#817f82;filter:alpha(opacity=70);opacity:0.7; font-family:Arial,"微软雅黑"; font-size:12px;height:20px;position:absolute;top:125px;width:320px;z-index:111; padding-left:10px; box-sizing: border-box;}
.pics_show .text_01  a{color:#FFF; text-decoration:none; line-height:20px;}
.pics_show .change {height:20px;position:absolute;right:10px;top:127px;z-index:9999;}

.pics_show .change i { background:url(../images/1app-lb-white.png) no-repeat scroll 0 0;cursor: pointer;display:inline-block;font:12px/17px Arial;width:11px;height:11px;margin-right:1px;text-align: center;}
/*.pics_show .change i.last{margin-right:0px;}*/
.pics_show .change i.cur { background:url(../images/1app-lb-green.png) no-repeat scroll 0 0; }
.hide3_pic {width:320px;height:145px;overflow: hidden;position: relative;background:#DDD;}
.hide3_pic .text {display:block;height:20px;left:0;position:absolute;top:219px;width:320px;
z-index: 100;}
.hide3_pic .text_01 {display:block; background:#817f82;filter:alpha(opacity=70);opacity:0.7; font-family:Arial,"微软雅黑"; font-size:12px;height:20px;position:absolute;top:125px;width:320px;z-index:111; padding-left:10px; box-sizing: border-box;}
.hide3_pic .text_01  a{color:#FFF; text-decoration:none; line-height:20px;}
.hide3_pic .change {height:20px;position:absolute;right:10px;top:127px;z-index:9999;}

.hide3_pic .change i { background:url(../images/1app-lb-white.png) no-repeat scroll 0 0;cursor: pointer;display:inline-block;font:12px/17px Arial;width:11px;height:11px;margin-right:1px;text-align: center;}
/*.pics_show .change i.last{margin-right:0px;}*/
.hide3_pic .change i.cur { background:url(../images/1app-lb-green.png) no-repeat scroll 0 0; }
.hide4_pic {width:320px;height:145px;overflow: hidden;position: relative;background:#DDD;}
.hide4_pic .text {display:block;height:20px;left:0;position:absolute;top:219px;width:320px;
z-index: 100;}
.hide4_pic .text_01 {display:block; background:#817f82;filter:alpha(opacity=70);opacity:0.7; font-family:Arial,"微软雅黑"; font-size:12px;height:20px;position:absolute;top:125px;width:320px;z-index:111; padding-left:10px; box-sizing: border-box;}
.hide4_pic .text_01  a{color:#FFF; text-decoration:none; line-height:20px;}
.hide4_pic .change {height:20px;position:absolute;right:10px;top:127px;z-index:9999;}

.hide4_pic .change i { background:url(../images/1app-lb-white.png) no-repeat scroll 0 0;cursor: pointer;display:inline-block;font:12px/17px Arial;width:11px;height:11px;margin-right:1px;text-align: center;}
/*.pics_show .change i.last{margin-right:0px;}*/
.hide4_pic .change i.cur { background:url(../images/1app-lb-green.png) no-repeat scroll 0 0; }


.show1,.show2,.show3,.show4{ margin-bottom:1px;}
.hide1,.hide2,.hide3,.hide4{ display:none;}
.hide2-pic,.hide3_pic,.hide4_pic{ width:320px; display:none;}
.hide2-pic img{ width:320px; height:145px;}






.tank{ width:238px; height:123px; top:30%; margin-left:13%; z-index:20000; position:fixed; display:none;}
.tank img{width:238px; height:123px;}
.hujiao{width:83px; height:29px; position:absolute; bottom:16px; left:29px;}
.quxiao{ width:83px; height:29px; position:absolute; bottom:16px; right:31px;}

/*nav*/
.nav ul img{}
.nav2{ position:absolute;bottom:0px; left:70px; }
.nav3{ position:absolute;bottom:0px; left:141px; }
.nav4{ position:absolute;bottom:0px; left:211px; }
.nav5{ position:absolute;bottom:0px; left:282px; }
.nav6{ position:absolute;bottom:0px; left:352px; }














/*服务流程 2*/
.content{ width:320px; height:460px; background:url(../images/460.jpg) no-repeat;zoom:1; margin:0 auto;}
/*.bj{ width:320px;}
.content img{ width:320px;}*/
.home{height:44px;width:320px;background-color:#8fc320;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home .backBut2 img{width: 31px;margin:3px 8px 0 4px;vertical-align: middle;}
.home .backBut2 label{font-size:8px;color:#fff;vertical-align: middle;display: inline-block; line-height:19px;}


.cont{margin-left:auto;margin-right:auto;width:320px;margin-top:5px;left:0;overflow:hidden;}
.list{overflow:hidden;zoom:1;width:315px;padding-left:5px;}
.list li{float:left;margin-right:6px;margin-bottom:5px;cursor:pointer;}
.list li:first-child{}
.box{width:99px;height:101px;_overflow:hidden;zoom:1;}
.cur{width:204px;height:207px;}
.list-a .box{background:url(../images/2app-1.png) no-repeat 0 0; background-size:99px 101px;}
.list-b .box{background:url(../images/2app-2.png) no-repeat 0 0; background-size:99px 101px;}
.list-c .box{background:url(../images/2app-3.png) no-repeat 0 0; background-size:99px 101px;}
.list-d .box{background:url(../images/2app-4.png) no-repeat 0 0; background-size:99px 101px;}
.list-e .box{background:url(../images/2app-5.png) no-repeat 0 0; background-size:99px 101px;}
.list-f .box{background:url(../images/2app-6.png) no-repeat 0 0; background-size:99px 101px;}
.list-a .cur{background:url(../images/2app-1-1.png) no-repeat 0 0; background-size:207px 207px;}
.list-b .cur{background:url(../images/2app-2-1.png) no-repeat 0 0;background-size:207px 207px;}
.list-c .cur{background:url(../images/2app-3-1.png) no-repeat 0 0;background-size:207px 207px;}
.list-d .cur{background:url(../images/2app-4-1.png) no-repeat 0 0;background-size:207px 207px;}
.list-e .cur{background:url(../images/2app-5-1.png) no-repeat 0 0;background-size:207px 207px;}
.list-f .cur{background:url(../images/2app-6-1.png) no-repeat 0 0;background-size:207px 207px;}



.nav{width:320px; position:relative; margin:0 auto; overflow:hidden;}
.nav ul{width:421px;}
.nav li,.nav a{width:67.5px;height:46px;}

.nav1{ position:absolute;bottom:0px; left:0px; }
.nav3{ position:absolute;bottom:0px; left:141px; }
.nav4{ position:absolute;bottom:0px; left:211px; }
.nav5{ position:absolute;bottom:0px; left:282px; }
.nav6{ position:absolute;bottom:0px; left:352px; }


/*刷新案例 3*/

.content3{ width:320px; height:460px; background:url(../images/460.jpg) no-repeat;zoom:1; margin:0 auto;}

.home3 .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home3 .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home3 .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}


.home3{height:44px;width:320px;background-color:#4e9165;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home3 .backBut3{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home3 .backBut3 img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home3 .backBut3 label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home3 h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home3 .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home3 .backBut2 img{width: 31px;margin:3px 8px 0 4px;vertical-align: middle;}
.home3 .backBut2 label{font-size:8px;color:#fff;vertical-align: middle;display: inline-block; line-height:19px;}


.an{ width:100%; height:325px; overflow:auto; position:relative;}
.scrollpic li img{ width:320px; height:403px;}
.pic3-1{ width:320px; height:128px; position:absolute;top:0px;}
.pic3-2{width:320px; height:128px; position:absolute;top:134px;}
.pic3-3{width:320px; height:128px; position:absolute;top:277px;}

.click3-1,.click3-2,.click3-3 img{ width:320px; height:416px;}

.nav{width:320px; position:relative; margin:0 auto; overflow:hidden;}
.nav ul{width:421px;}
.nav li,.nav a{width:67.5px;height:46px;}



/*艺术漆 6*/
.content{  width:100%; height:460px; background:url(../images/460.jpg) no-repeat;zoom:1; margin:0 auto;}
/*.bj{ width:320px;}
.content img{ width:320px;}*/

.home6{height:44px; width:100%;background-color:#ea5513;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home6 .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home6 .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home6 .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home6 h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home6 .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home6 .backBut2 img{width: 31px;margin:3px 8px 0 4px;vertical-align: middle;}
.home6 .backBut2 label{font-size:8px;color:#fff;vertical-align: middle;display: inline-block; line-height:19px;}

.pics_show6 { width:100%;height:145px;overflow: hidden;position: relative;background:#DDD;}
.pics_show6 .text {display:block;height:20px;left:0;position:absolute;top:219px;width:320px;
z-index: 100;}
.pics_show6 .text_01 {display:block; background:#817f82;filter:alpha(opacity=70);opacity:0.7; font-family:Arial,"微软雅黑"; font-size:12px;height:20px;position:absolute;top:125px;width:320px;z-index:111; padding-left:10px; box-sizing: border-box;}
.pics_show6 .text_01  a{color:#FFF; text-decoration:none; line-height:20px;}
.pics_show6 .change {height:20px;position:absolute;right:10px;top:127px;z-index:9999;}

.pics_show6 .change i { background:url(../images/1app-lb-white.png) no-repeat scroll 0 0;cursor: pointer;display:inline-block;font:12px/17px Arial;width:11px;height:11px;margin-right:1px;text-align: center;}
/*.pics_show .change i.last{margin-right:0px;}*/
.pics_show6 .change i.cur { background:url(../images/1app-lb-green.png) no-repeat scroll 0 0; }

.cont6{ width:100%; height:135px;}
.click6{ width:100%;}
.click6 a{ display:block; margin-bottom:1px;}


/*nav*/

.nav{ width:100%;}
.nav2{ position:absolute;bottom:0px; left:70px; }
.nav3{ position:absolute;bottom:0px; left:141px; }
.nav4{ position:absolute;bottom:0px; left:211px; }
.nav5{ position:absolute;bottom:0px; left:282px; }
.nav6{ position:absolute;bottom:0px; left:352px; }

/*艺术漆 子页*/
.content6-1{}
.home6 .backBut6-1{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home6 .backBut6-1 img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}

/*在线报名 4*/
content4{ width:320px;}
.home4{height:44px;width:320px;background-color:#f8b62c;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home4 .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home4 .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home4 .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home4 h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home4 .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home4 .backBut2 img{width: 70px; height:27.5px;margin:3px 8px 0 4px;vertical-align: middle;}

.all_cont{ width:300px;height:740px; margin:7px auto; }
/*客户的基本信息*/
.message{ width:300px; height:214px; border-radius:5px; border:1px solid #e2e2e2; background-color:white; }
.message .tit{ height:38px; line-height:38px; background:#f8b62c;border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#fff;}
.message_cont{ height:173px; }

.uname{width:300px; height:36px; line-height:36px; background:#f8f8f8; color:#a0a0a0;border-bottom:1px solid #b6b6b6; position:relative; }
.mess{ float:left;}
.uname label{ margin-left:13px; margin-right:3px;}
.txtname{height:35px; line-height:35px; background:#f8f8f8; border:none; padding-left:5px; font-weight:700;}
.sex{ position:absolute; top:0px; right:0px;  display:inline-block; }
.sex a{ width:50px; height:36px; display:block;border-right:1px solid #fff; color:#fefefe; text-align:center; line-height:36px; float:left; background:#898989;}
.sex .girl{border-right:none;}
.phone{width:300px; height:36px; line-height:36px; background:#f8f8f8; color:#a0a0a0;border-bottom:1px solid #b6b6b6; }

.phone label{ margin-left:13px; margin-right:3px;}
.phonetxt{height:35px; line-height:35px; background:#f8f8f8; border:none; padding-left:5px; font-weight:700;}

.call{width:300px; height:36px; line-height:36px; background:#f8f8f8; color:#a0a0a0;border-bottom:1px solid #b6b6b6; }
.call label{ margin-left:13px; margin-right:3px;}
.calltxt{height:35px; line-height:35px; background:#f8f8f8; border:none; padding-left:5px; font-weight:700;}

.address{width:300px; height:65px; background:#f8f8f8; color:#a0a0a0; }
.address label{ margin-left:13px; margin-right:3px;}
.addresstxt{ width:200px;height:50px; line-height:25px; /*-webkit-appearance:none;*/  background:#f8f8f8; border:none; 
padding-left:5px;font-weight: 700;}

.scroll-area{ width:320px; height:161px; background:url(../images/4app-box2.png) no-repeat; background-size:320px 161px;display:none; position:absolute;top:344px; z-index:20004;}
.sure{ width:59px; height:23px; position:absolute;top:8px;right:13px;cursor:pointer;}
.sure img{ width:59px; height:23px;}
.m4-provinces{position:absolute; margin-left:10px;margin-top:38px;height:114px;width:100px;overflow-y:auto;}
.m4-cities{position:absolute;margin-left:115px;margin-top:38px;height:114px;width:90px;overflow-y:auto;}
.m4-districts{position:absolute;margin-left:210px;margin-top:38px;height:114px;width:100px;overflow-y:auto;}
.m4-addressSelectedArea{position:relative;}


/*提交成功*/
.subm-success{ width:238px; height:123px; top:30%; margin-left:13%; z-index:20010; position:fixed;display:none;}
.m4-notice-txt1 { position:absolute;top:48px;left:80px;}
.subm-success img{width:238px; height:123px;}
.m4-close-snotice {position:absolute;top:70px;left:92px;width:50px;height:35px;cursor:pointer;}

/*提交失败*/
.subm-failure{ width:238px; height:123px; top:30%; margin-left:13%; z-index:20010; position:fixed;display:none;}
.subm-failure img{width:238px; height:123px;}
.m4-notice-txt2 { position:absolute;top:40px;left:30px;height:38px; width:180px;overflow-x:hidden;overflow-y:hidden;}
.m4-close-fnotice {position:absolute;top:75px;left:92px;width:50px;height:35px;cursor:pointer;}


/*房屋的基本信息*/
.house{ width:300px; height:188px; margin-top:7px; border-radius:5px; border:1px solid #e2e2e2;  }
.house .tit{ height:38px; line-height:38px; background:#f8b62c;border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#fff;}
.house_cont{ height:173px; }
.house-jg{width:300px; height:36px; line-height:36px; background:#f8f8f8; color:#a0a0a0;border-bottom:1px solid #b6b6b6; }
.house-jg label{ margin-left:13px; margin-right:3px;}
.house-jg-txt{height:35px; line-height:35px; background:#f8f8f8; border:none; padding-left:5px;font-weight: 700;}

.house-area{width:300px; height:36px; line-height:36px; background:#f8f8f8; color:#a0a0a0;border-bottom:1px solid #b6b6b6;}
.house-area label{ margin-left:13px; margin-right:3px;}
.house-area-txt{height:35px; line-height:35px; background:#f8f8f8; border:none; padding-left:5px;font-weight: 700;}

.house-age{width:300px; height:36px; background:#f8f8f8; color:#a0a0a0; border-bottom:1px solid #b6b6b6;}
.house-age label{ margin-left:13px; margin-right:3px;}
.house-age-txt{ width:200px;height:36px; line-height:36px; /*-webkit-appearance:none;*/  background:#f8f8f8; border:none; padding-left:5px;font-weight: 700;margin-left:24px;}

.house-nx{width:300px; height:36px; background:#f8f8f8; color:#a0a0a0; }
.house-nx label{ margin-left:13px; margin-right:3px;}
.house-nx-txt{ width:200px;height:36px; line-height:36px; /*-webkit-appearance:none;*/  background:#f8f8f8; border:none; padding-left:5px;font-weight: 700;}



.house-tk{ width:320px; height:396px; background:#595758;position:absolute;top:440px; text-align:center; display:none; z-index:20003;}
.sure2{ width:59px; height:23px; position:absolute;top:8px;right:13px;}
.sure2 img{ width:59px; height:23px;}
.ting{ width:300px; height:350px; margin-left:5px; margin-top:38px; padding-top:10px; box-sizing:border-box; background:#f8f8f8;}
.ting a{ width:300px; height:25px; line-height:25px;display:block; color:#7a7a7a;}
.ting a:hover{ width:300px; background:#f0b22d;}

.house-area-tk{ width:320px; height:302px; background:#595758;position:absolute;top:478px; text-align:center; display:none; z-index:20002;}
.sure2-2{ width:59px; height:23px; position:absolute;top:8px;right:13px;}
.sure2-2 img{ width:59px; height:23px;}
.ting2{ width:300px; height:166px; margin-left:5px; margin-top:38px; padding-top:10px; box-sizing:border-box; background:#f8f8f8;}
.ting2 a{ width:300px; height:25px; line-height:25px;display:block; color:#7a7a7a;}
.ting2 a:hover{ width:300px; background:#f0b22d;}

.house-age-tk{ width:320px; height:830px; background:#595758;position:absolute;top:518px; text-align:center; display:none;z-index:20001;}
.sure2-3{ width:59px; height:23px; position:absolute;top:8px;right:13px;}
.sure2-3 img{ width:59px; height:23px;}
.ting3{ width:300px; height:787px; margin-left:5px; margin-top:38px; padding-top:10px; box-sizing:border-box; background:#f8f8f8;}
.ting3 a{ width:300px; height:25px; line-height:25px;display:block; color:#7a7a7a;}
.ting3 a:hover{ width:300px; background:#f0b22d;}


.house-nx-tk{ width:320px; height:830px; background:#595758;position:absolute;top:555px; text-align:center; display:none; z-index:20000;}
.sure2-4{ width:59px; height:23px; position:absolute;top:8px;right:13px;}
.sure2-4 img{ width:59px; height:23px;}
.ting4{ width:300px; height:787px; margin-left:5px; margin-top:38px; padding-top:10px; box-sizing:border-box; background:#f8f8f8;}
.ting4 a{ width:300px; height:25px; line-height:25px;display:block; color:#7a7a7a;}
.ting4 a:hover{ width:300px; background:#f0b22d;}


.scroll-area2{ width:320px; height:161px; background:url(../images/4app-box3.png) no-repeat; background-size:320px 161px; display:none;position:absolute;top:471px;}

/*墙面问题*/
.wall{ width:300px; height:215px; margin-top:7px; border-radius:5px; border:1px solid #e2e2e2;  }
.wall .tit{ height:38px; line-height:38px; background:#f8b62c;border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#fff;}
.wall_cont{ height:173px; }
.tab{ border:none; border-color:#b6b6b6;}

.tab tr td{ height:35px; line-height:35px; text-align:center;color:#a0a0a0; font-size:14px;}
.tab tr td a{width:148px;color:#a0a0a0; display:block;}
.tab tr td a:hover,.tab tr td a:visited{ width:148px; background:#f8b62c; color:#fff;}









/*服务人员 5*/
.content5{ width:320px; height:460px; background:url(../images/460.jpg) no-repeat;zoom:1;  margin:0 auto; position:relative;overflow:hidden; }

.home5{height:44px;width:320px;background-color:#af0083;-webkit-box-shadow: 5px 5px 10px #ededed;　-moz-box-shadow: 5px 5px 10px #ededed;　box-shadow: 5px 5px 10px #ededed;text-align: center;  z-index:5;}
.home5 .backBut{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home5 .backBut img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home5 .backBut label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}
.home5 h3{ height:44px; line-height:44px; color:#fff; font-size:16px; font-weight:bold;}
.home5 .backBut2{width:115px;height:44px; line-height:44px;display:inline-block;float: right;cursor:pointer;}
.home5 .backBut2 img{width: 31px;margin:3px 8px 0 4px;vertical-align: middle;}
.home5 .backBut2 label{font-size:8px;color:#fff;vertical-align: middle;display: inline-block; line-height:19px;}

.home5 .backBut5_1{width:90px;height:44px;line-height:44px;display:inline-block;float: left; cursor:pointer;}
.home5 .backBut5_1 img{width: 31px;margin:3px 4px 0 11px;vertical-align: middle;}
.home5 .backBut5_1 label{font-size:8px;color:#fff;vertical-align: middle;line-height: 44px;height: 44px;display: inline-block;}


.cont5{ width:320px; height:324px; background:url(../images/460.jpg) no-repeat;zoom:1; }
.banner{ width:320px; height:100px; display:block;}
.gray{ width:320px; height:44px; background:#cacaca;position:relative;zoom:1;}
.gjz{ width:242px; height:31px; margin-top:7px; float:left; margin-left:19px; border:none; border-radius:10px; 
	font-size:15px; font-weight:700; padding-left:10px; }
.shuju{ width:320px; height:172px;}


#shaix{ width:23px; height:30px;  display:inline-block;position:absolute;top:20%;right:5%;/*margin-top:6px; margin-left:14px;*/ cursor:pointer;}
#shaix img{width:23px; height:30px;}

#wrapper{width:320px; position:relative; margin:0 auto; overflow:hidden;}
#wrapper ul{width:421px;}
#wrapper li,#wrapper a{width:67.5px;height:46px;}

.province-ul{ width:242px; height:30px; margin-left:10px; margin-top:4px;border:1px solid #ccc; border-radius:5px;}

.province-ul li{ float:left; width:80px; height:30px; line-height:30px;border-right:1px solid #ccc; text-align:center; }
.province-ul .noneline{border-right:none;}
.province-ul li a{ color:#787878;display:block;}
.province-ul li a:hover{ color:#fff; background:#af0083;}

.province-ul .curli a{ background:#af0083; color:#fff;}
.province-ul li a:hover{background:#af0083; color:#fff;}
.curli{background:#af0083;height:30px; color:#fff;}

.pro-cont{ width:266px; height:258px; line-height:24px; margin-top:5px; border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
.sheng{ width:90px;height:258px; float:left; text-align:center;border-right:1px solid #ccc;}
.sheng a{ display:block; color:12px;}
.sheng a:hover{ background:#af0083;}
.qu{ width:82px;height:258px;float:left;text-align:center;border-right:1px solid #ccc;}
.qu a{display:block; color:12px;}
.qu a:hover{ background:#af0083;}
.peo{ width:92px;height:258px;float:left;text-align:center;}
.peo a{display:block; color:12px;}
.peo a:hover{ background:#af0083;}
.wanjie{ width:82px; height:30px; line-height:30px; float:right; margin-right:31px; margin-top:14px;color:#fff; border-radius:5px; text-align:center; background:#af0083; cursor:pointer;}

.nav1{ position:absolute;bottom:0px; left:0px; }
.nav2{ position:absolute;bottom:0px; left:70px; }
.nav3{ position:absolute;bottom:0px; left:141px; }
.nav4{ position:absolute;bottom:0px; left:211px; }
.nav6{ position:absolute;bottom:0px; left:352px; }







