@import "reset.css";

html,body{ background:rgba(0,0,0,0);}

.container{width:300px;height:250px; position:relative;margin:0 auto;}
img{width:100%; display:block;}
.area{width:168px;height:117px; position:absolute;top:130px;left:23%; }
.area > div{width:32px;height:100%; position:absolute;top:0;}
.area > div div{width:59px;height:71px; position:absolute;}
.area .p1{left:0;z-index:1;}
.area .p2{left:33px;z-index:2;}
.area .p3{left:67px;z-index:3;}
.area .p4{left:102px;z-index:4;}
.area .p5{right:0;z-index:5;}

.area .p1 div{top:-45px;left:-20px; background:url(../images/price1.png) no-repeat; background-size:contain;}
.area .p2 div{top:-55px;left:-20px; background:url(../images/price2.png) no-repeat; background-size:contain;}
.area .p3 div{width:65px;top:-57px;left:-16px; background:url(../images/price3.png) no-repeat; background-size:contain;}
.area .p4 div{top:-55px;left:-9px; background:url(../images/price4.png) no-repeat; background-size:contain;}
.area .p5 div{top:-45px;left:-5px; background:url(../images/price5.png) no-repeat; background-size:contain;}