/*样式重置*/
*{
	padding: 0;
	margin: 0;
	font-family: "黑体","宋体","微软雅黑";
	font-size: 24px;
	border-radius: 4px;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
/*header样式*/
.logo{
	width: 640px;
	height: 94px;
	background: url(../images/p_logo.png);
}
.headermenu{
	float: right;
	width: 324px;
	height: 24px;
	margin: 14px;
	padding: 21px 0;
	background: url(../images/p_headermenu.png) no-repeat;
}
.headermenu a{
	font-size: 24px;
	font-weight: bold;
	color: #727272;
	padding-left: 30px;
	display: inline-block;
}
.menu{
	width: 640px;
	height: 112px;
	background: #e7e7e7;
}
.menu_center{
	width: 360px;
	height: 112px;
	margin: 0 auto;
}
.left{
	float: left;
	background: url(../images/p_left.png);
}
.right{
	float: right;
	background: url(../images/p_right.png);
}
.menu_center a{
	width: 44px;
	height: 48px;
	margin: 34px 0;
}
.menu_center div{
	width: 180px;
	height: 48px;
	padding: 32px;
	margin: 0 auto;
}
.menu_center p{
	width: 200px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #4b4b4b;
}
/*content样式*/
.li{
	width: 580px;
	height: 230px;
	margin: 30px;
	margin-bottom: none;
}
.content_p{
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #343434;
}
.content_p2{
	width: 360px;
	min-height: 100px;
	float: right;
}
.content_p2 span{
	font-size: 24px;
	color: #777777;
}
.block{
	display: inline-block;
	width: 360px;
	height: 40px;
	margin-top: 4px;
	background: url(../images/p_check2.png) no-repeat;
	background-size: 360px 40px; 
}
.block a{
	display: inline-block;
	width: 112px;
	height: 40px;
}
.shu{
	width: 640px;
	height: 2px;
	background: url(../images/p_shu2.png);
}
/*footer样式*/
.footer_one{
	background: url(../images/shu3.png);
	width: 640px;
	height: 80px;
}
.footer_one a{
	float: left;
	width: 25%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #dddddd;
	font-size: 24px;
	font-weight: bold;
}
.footer_two{
	width: 640px;
	height: 38px;
	background: url(../images/p_footer6.png);
}
.footer_two a{
	float: left;
	width: 100px;
	height: 38px;
	font-size: 24px;
	font-weight: bold;
	color: #b7b7b7;
	line-height: 38px;
}
.twog{
	margin-left: 240px;
}
.footer_three{
	width: 640px;
	height: 40px;
	background: #262626;
	font-size: 24px;
	font-weight: bold;
	color: #c3c3c3;
	line-height: 40px;
	text-align: center;
}
.a{
	text-decoration: underline;
}